<div class="ui rail">
  <div style="top: 0px; margin-top: 50px;" class="ui sticky transition visible fixed top">
    <div class="ui secondary vertical following fluid accordion menu">



      <div class="item">
        <div class="title"><b class="ui dividing center aligned header">Menu</b></div>
      </div>

      <div class="item">
        <div class="title"><i class="dropdown icon"></i><b>Executive Summary</b></div>
        <div class="content menu">           
          <div class="item"> <a href="#business-concept">Business concept</a></div>
          <div class="item"> <a href="#Competitive-advantage">Competitive advantage</a></div>
          <div class="item"> <a href="#current-objectives">Current objectives</a></div>
        </div>
      </div>

      <div class="item">
        <div class="title"><i class="dropdown icon"></i><b>Logs</b></div>
        <div class="content menu">
          <div class="item"><a href="#dev-log">Development log</a></div>
          <div class="item"><a href="#finical-log">Finical log</a></div>
        </div>
      </div>


      <div class="item">
        <div class="title"><i class="dropdown icon"></i><b>Market Analysis</b></div>
        <div class="content menu">
          <div class="item"><a href="#market-analysis">Summary</a></div>

          <div class="accordian">
            <div class="title"><i class="dropdown icon"></i><b>International Markets</b></div>
            <div class="content menu">
              <div class="item"><a href="#DigitalAdSpendingInWesternEurope">Digital ad spending Western Europe</a></div>
              <div class="item"><a href="#DigitalAdSpendingEurope">Digital ad spending Euro Nations</a></div>
              <div class="item"><a href="#MobileAdSpendingInWesternEurope">Mobile Ad Spending In Western Europe</a></div>
              <div class="item"><a href="#InternetShareOfAllAdvertisingSpend">Internet Share Of All Advertising Spend</a></div>
              <div class="item"><a href="#MobileAdvertisingExpenditurePerHead">Mobile Advertising Expenditure Per Head</a></div>
              <div class="item"><a href="#UseOfSmartPhones">Use Of Smart Phones</a></div>
              <div class="item"><a href="#PortableDevicesUsedToAccessTheInter-net">Portable Devices Use</a></div>
            </div>
          </div>

          <div class="ui divider"></div>

          <div class="accordian">
            <div class="title"><i class="dropdown icon"></i><b>UK Markets</b></div>
            <div class="content menu">
              <div class="item"><a href="#web-basedContentMarket">web-based content market: key statistics</a></div>
              <div class="item"><a href="#digitalAdvertisingExpenditure">Digital advertising expenditure</a></div>
              <div class="item"><a href="#mobileAdvertising">Mobile Advertising</a></div>
              <div class="item"><a href="#mobileAdvertisingVsDeviceTake-up">Mobile advertising Vs Device take-up</a></div>
              <div class="item"><a href="#demographicMapOfTheUK">Demographic map of the UK</a></div>
              <div class="item"><a href="#urbanPopulation">Urban (city dwelling) Population</a></div>
              <div class="item"><a href="#AnalysisOfACityCenterVenueAdvertisingExpenditure">Analysis of a city center venue's advertising expenditure</a></div>
            </div>
          </div>
          <div class="item"><a href="#competitorAnalysis">Competitor Analysis</a></div>
        </div>
      </div>

      <div class="active content menu">
        <div class="item">
          <div class="title"><i class="dropdown icon"></i><b>Plans and Models</b></div>
          <div class="content">
            <div class="item"><a href="#finical-plans">Summary</a></div>
            <div class="item"><a href="#funding-sources">Sources of funding</a></div>
            <div class="item"><a href="#webModels">Contemporary Web Models</a>
            <div class="item"><a href="#business-model">Business Model</a></div>
            <div class="item"><a href="#b2b">B2B</a></div>
            <div class="item"><a href="#b2c">B2C</a></div>
          </div>
        </div>
      </div>

      <div class="active content menu">
        <div class="item">
          <div class="title"><i class="dropdown icon"></i><b>Strategy and Appraisal</b></div>
          <div class="content">
            <div class="item"><a href="#strategy-overview">Overview</a></div>
            <div class="item"><a href="#income-streams">Additional Income Streams</a></div>
            <div class="item"><a href="#development-stages">Development Stages</a></div>
            <div class="item"><a href="#appraisal">Appraisal</a></div>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>