<h2 class="ui dividing header">Contemporary Web Models<div class="sub header">noting that the categories of models covered here can and often are combined and/or varied when implemented</div></h2>

<p><i>On the Internet, everybody can have a channel, everyone can get a blog, or a MySpace page. Everyone has a way of expressing themselves. What you see now is not a question of who gets access to the airwaves,it's a question of who gets control over the ways you find people.</i> <a href="http://youtu.be/vXr-2hwTk58?t=21m30s" target="_blank"><i>Aaron Swartz</i></a></p>
<div id ="webModels" class="ui segment">

 <div class="ui segment"><h3 class="ui divding header">Brokerage</h3><p>Brokers are market-makers: they bring buyers and sellers together and facilitate transactions. Brokers play a frequent role in business-to-business (B2B), business-to-consumer (B2C), or consumer-to-consumer (C2C) markets. Usually a broker charges a fee or commission for each transaction it enables. The formula for fees can vary.<p><div class="ui list"><h4 class="header">Brokerage models include:</h4>
    <div class="item"><div class="header">Marketplace Exchange</div><div class="description">Offers a full range of services covering the transaction process, from market assessment to negotiation and fulfillment. Exchanges operate independently or are backed by an industry consortium.</div></div>
    <div class="item"><div class="header">Buy/Sell Fulfillment</div><div class="description">takes customer orders to buy or sell a product or service, including terms like price and delivery.</div></div>
    <div class="item"><div class="header">Demand Collection System</div><div class="description">the patented "name-your-price" model pioneered by Priceline.com. Prospective buyer makes a final (binding) bid for a specified good or service, and the broker arranges fulfillment.</div></div>
    <div class="item"><div class="header">Auction Broker</div><div class="description">conducts auctions for sellers (individuals or merchants). Broker charges the seller a listing fee and commission scaled with the value of the transaction. Auctions vary widely in terms of the offering and bidding rules.</div></div>
    <div class="item"><div class="header">Transaction Broker </div><div class="description">Provides a third-party payment mechanism for buyers and sellers to settle a transaction.</div></div>
    <div class="item"><div class="header">Distributor</div><div class="description"> Is a catalog operation that connects a large number of product manufacturers with volume and retail buyers. Broker facilitates business transactions between franchised distributors and their trading partners.</div></div>
    <div class="item"><div class="header">Search Agent</div><div class="description">a software agent or "robot" used to search-out the price and availability for a good or service specified by the buyer, or to locate hard to find information.</div></div>
    <div class="item"><div class="header">Virtual Marketplace</div><div class="description">Or virtual mall, a hosting service for online merchants that charges setup, monthly listing, and/or transaction fees. May also provide automated transaction and relationship marketing services.</div></div>
    </div>
</div>

<div class="ui segment"><h3 class="ui dividing header">Advertising</h3><p>The web advertising model is an extension of the traditional media broadcast model. The broadcaster, in this case, a web site, provides content (usually, but not necessarily, for free) and services (like email, IM, blogs) mixed with advertising messages in the form of banner ads. The banner ads may be the major or sole source of revenue for the broadcaster. The broadcaster may be a content creator or a distributor of content created elsewhere. The advertising model works best when the volume of viewer traffic is large or highly specialized.</p><div class="ui list">
    <div class="item"><div class="header">Portal </div><div class="description">usually a search engine that may include varied content or services. A high volume of user traffic makes advertising profitable and permits further diversification of site services. A personalized portal allows customization of the interface and content to the user. A niche portal cultivates a well-defined user demographic.</div></div>
    <div class="item"><div class="header">Classifieds </div><div class="description">list items for sale or wanted for purchase. Listing fees are common, but there also may be a membership fee. </div></div>
    <div class="item"><div class="header">User Registration </div><div class="description">content-based sites that are free to access but require users to register and provide demographic data. Registration allows inter-session tracking of user surfing habits and thereby generates data of potential value in targeted advertising campaigns.</div></div>
    <div class="item"><div class="header">Query-based Paid Placement </div><div class="description">sells favorable link positioning (i.e., sponsored links) or advertising keyed to particular search terms in a user query, such as Overture's trademark "pay-for-performance" model.</div></div>
    <div class="item"><div class="header">Contextual Advertising / Behavioral Marketing </div><div class="description">freeware developers who bundle adware with their product. For example, a browser extension that automates authentication and form fill-ins, also delivers advertising links or pop-ups as the user surfs the web. Contextual advertisers can sell targeted advertising based on an individual user's surfing activity.</div></div>
    <div class="item"><div class="header">Content-Targeted Advertising </div><div class="description">pioneered by Google, it extends the precision of search advertising to the rest of the web. Google identifies the meaning of a web page and then automatically delivers relevant ads when a user visits that page.</div></div>
    <div class="item"><div class="header">Intromercials </div><div class="description">animated full-screen ads placed at the entry of a site before a user reaches the intended content.</div></div>
    <div class="item"><div class="header">Ultramercials </div><div class="description">interactive online ads that require the user to respond intermittently in order to wade through the message before reaching the intended content. </div></div>
    </div>
</div>

<div class="ui segment"><h3 class="ui dividing header">Infomediary <div class="sub header">combination of information (data) and intermediary </div></h3>
<p>Data about consumers and their consumption habits are valuable, especially when that information is carefully analyzed and used to target marketing campaigns. Independently collected data about producers and their products are useful to consumers when considering a purchase. Some firms function as infomediaries (information intermediaries) assisting buyers and/or sellers understand a given market</p><div class="ui list">
    <div class="item"><div class="header">Advertising Networks</div> <div class="description"> feed banner ads to a network of member sites, thereby enabling advertisers to deploy large marketing campaigns. Ad networks collect data about web users that can be used to analyze marketing effectiveness.</div></div>
    <div class="item"><div class="header">Audience Measurement Services</div> <div class="description"> online audience market research agencies.</div></div>
    <div class="item"><div class="header">Incentive Marketing</div> <div class="description"> customer loyalty program that provides incentives to customers such as redeemable points or coupons for making purchases from associated retailers. Data collected about users is sold for targeted advertising. </div></div>
    <div class="item"><div class="header">Metamediary</div> <div class="description"> facilitates transactions between buyer and sellers by providing comprehensive information and ancillary services, without being involved in the actual exchange of goods or services between the parties. </div></div>
</div></div>

<div class="ui segment"> <h3 class="ui dividing header">Merchant</h3><p>Wholesalers and retailers of goods and services. Sales may be made based on list prices or through auction. </p><div class="ui list">
    <div class="item"><div class="header">Virtual Merchant </div> <div class="description">or e-tailer, is a retail merchant that operates solely over the web.</div></div>
    <div class="item"><div class="header">Catalog Merchant </div> <div class="description"> mail-order business with a web-based catalog. Combines mail, telephone and online ordering.</div></div>
    <div class="item"><div class="header">Click and Mortar </div> <div class="description"> traditional brick-and-mortar retail establishment with web storefront.</div></div>
    <div class="item"><div class="header">Bit Vendor </div> <div class="description"> a merchant that deals strictly in digital products and services and, in its purest form, conducts both sales and distribution over the web. </div></div>
    </div>
</div>

<div class="ui segment"><h3 class="ui dividing header">Manufacturer <div class="sub header">Direct</div></h3><p>The manufacturer or direct model, it is predicated on the power of the web to allow a manufacturer (i.e., a company that creates a product or service) to reach buyers directly and thereby compress the distribution channel. The manufacturer model can be based on efficiency, improved customer service, and a better understanding of customer preferences.</p>
    <div class="ui list">
        <div class="item"><div class="header">Purchase </div> <div class="description">the sale of a product in which the right of ownership is transferred to the buyer.</div></div>
        <div class="item"><div class="header">Lease </div> <div class="description">in exchange for a rental fee, the buyer receives the right to use the product under a terms of use agreement. The product is returned to the seller upon expiration or default of the lease agreement. One type of agreement may include a right of purchase upon expiration of the lease.</div></div>
        <div class="item"><div class="header">License </div> <div class="description">the sale of a product that involves only the transfer of usage rights to the buyer, in accordance with a terms of use agreement. Ownership rights remain with the manufacturer (e.g., with software licensing).</div></div>
        <div class="item"><div class="header">Brand Integrated Content </div> <div class="description">in contrast to the sponsored-content approach (i.e., the advertising model), brand-integrated content is created by the manufacturer itself for the sole basis of product placement.</div></div>
    </div>
</div>

<div class="ui segment"><h3 class="ui dividing header">Affiliate</h3><p> In contrast to the generalized portal, which seeks to drive a high volume of traffic to one site, the affiliate model, provides purchase opportunities wherever people may be surfing. It does this by offering financial incentives (in the form of a percentage of revenue) to affiliated partner sites. The affiliates provide purchase-point click-through to the merchant. It is a pay-for-performance model if an affiliate does not generate sales, it represents no cost to the merchant. The affiliate model is inherently well-suited to the web, which explains its popularity. Variations include, banner exchange, pay-per-click, and revenue sharing programs.</p><div class="ui list">
    <div class="item"><div class="header">Banner Exchange </div><div class="description"> trades banner placement among a network of affiliated sites.</div></div>
    <div class="item"><div class="header">Pay-per-click </div><div class="description"> site that pays affiliates for a user click-through.</div></div>
    <div class="item"><div class="header">Revenue Sharing </div><div class="description"> offers a percent-of-sale commission based on a user click-through in which the user subsequently purchases a product. </div></div>
    </div>
</div>

<div class="ui segment"><h3 class="ui dividing header">Community</h3><p> The viability of the community model is based on user loyalty. Users have a high investment in both time and emotion. Revenue can be based on the sale of ancillary products and services or voluntary contributions; or revenue may be tied to contextual advertising and subscriptions for premium services. The Internet is inherently suited to community business models and today this is one of the more fertile areas of development, as seen in rise of social networking.</p><div class="ui list">
    <div class="item"><div class="header">Open Source </div><div class="description"> software developed collaboratively by a global community of programmers who share code openly. Instead of licensing code for a fee, open source relies on revenue generated from related services like systems integration, product support, tutorials and user documentation.</div></div>
    <div class="item"><div class="header">Open Content </div><div class="description">-- openly accessible content developed collaboratively by a global community of contributors who work voluntarily.</div></div>
    <div class="item"><div class="header">Public Broadcasting </div><div class="description">-- user-supported model used by not-for-profit radio and television broadcasting extended to the web. A community of users support the site through voluntary donations. </div></div>
    <div class="item"><div class="header">Social Networking Services </div><div class="description">-- sites that provide individuals with the ability to connect to other individuals along a defined common interest (professional, hobby, romance). Social networking services can provide opportunities for contextual advertising and subscriptions for premium services.</div></div>
    </div>
</div>


<div class="ui segment"><h3 class="ui dividing header">Subscription</h3><p>Users are charged a periodic daily, monthly or annual fee to subscribe to a service. It is not uncommon for sites to combine free content with "premium" (i.e., subscriber- or member-only) content. Subscription fees are incurred irrespective of actual usage rates. Subscription and advertising models are frequently combined. </p><div class="ui list">
    <div class="item"><div class="header">Content Services </div><div class="description">-- provide text, audio, or video content to users who subscribe for a fee to gain access to the service.</div></div>
    <div class="item"><div class="header">Person-to-Person Networking Services </div><div class="description">-- are conduits for the distribution of user-submitted information, such as individuals searching for former schoolmates.</div></div>
    <div class="item"><div class="header">Trust Services </div><div class="description">-- come in the form of membership associations that abide by an explicit code of conduct, and in which members pay a subscription fee.</div></div>
    <div class="item"><div class="header">Internet Services Providers </div><div class="description"> offer network connectivity and related services on a monthly subscription.</div></div>
    </div>
</div>

<div class="ui segment"><h3 class="ui dividing header">Utility</h3><p>The utility or "on-demand" model is based on metering usage, or a "pay as you go" approach. Unlike subscriber services, metered services are based on actual usage rates. Traditionally, metering has been used for essential services (e.g., electricity water, long-distance telephone services). Internet service providers (ISPs) in some parts of the world operate as utilities, charging customers for connection minutes, as opposed to the subscriber model common in the U.S.</p><div class="ui list">
    <div class="item"><div class="header">Metered Usage </div><div class="description"> measures and bills users based on actual usage of a service.</div></div>
    <div class="item"><div class="header">Metered Subscriptions </div><div class="description"> allows subscribers to purchase access to content in metered portions (e.g., numbers of pages viewed).</div></div>
    </div>
</div>
</div><!--end of contemporary web model section -->

<h2 class="ui dividing header">e-business Model</h2>
<div id="business-model" class="ui segment">
	<h3 class="ui center aligned dividing header">Freemium</h3>
	<div class="ui three column grid">
  		<div class="column">
    		<div class="ui horizontal segment">
    			<h4 class="ui center aligned header">Free</h4>
    			<p>Consumer level usage will be free</p>
    			<p>Features this base level includes are:
    				<ul>
    					<li>Searching for postings on the application and interacting with the content</li>
    					<li>Limited posting of events/premises:
    						<ul>
    							<li>one time specific event posting until event has passed</li>
    							<li>unlimited posting of validated locations (but no owner ship)</li>
    						</ul>
    					</li>
    					<li>Creating an account and integrating social media accounts</li>
    					<li>Share where their going on social media</li>
    				</ul>
    			</p>
    			<p> The advantages of having base usage free allows direct use of the application with out the need for any personal details to be distributed or collected while generating consumer data while remaining relatively low cost to implement</p>
    		</div>
  		</div>
  		<div class="column">
    		<div class="ui horizontal segment">
    		<h4 class="ui center aligned header">Premium</h4>
    		<p>Using a subscription based model a paying user will be able to:
    			<ul>
    				<li>Take administrator (think manager) privileges of a (one) premises
    					<ul>
    						<li>This gives the owner control to authorize events</li>
    						<li>Link in social media accounts to the premises (twiiter, youtube, imgur...ect)</li>
    					</ul>
    				</li>
    				<li>Receive consumer usage information related to the location and premises criteria (times users are searching and what for and/or which content gets more attention) </li>
    			</ul>
    		</p>
    		<p>Using a dynamic pricing model, a user will be able to administrate multiple premises and user accounts. This feature would allow them to assign:
    			<ul>
    				<li>Admin privileges to multiple premises and accounts</li>
    				<li>Pay for user accounts</li>
    				<li>See data related to each active region</li>
    				<li>See global data</li>
    			</ul><p>
    		</div>
  		</div>
  		<div class="column">
    		<div class="ui horizontal segment">
    			<p><div class="ui medium image"> <a href="/ebusiness-model" target="_blank"><h2>CLICK THIS!!</h2> to view the business model canvas <img src="/images/wireframe/image.png"></a></div></p>
	    	</div>
  		</div>
	</div>
</div>