<h2 class="ui dividing header">Market Data and Analysis</h2>
<div class="ui segment"> 


	<h3 id="market-analysis" class="ui center aligned header"> Summary </h3>
	<div class="ui content"><p>Internet advertising is a multi-billion pound industry that is predicted to continue to grow, with the uk being a suitable target market for developing the business during it's early stages. With just the night club/venue sector providing <a href="http://www.ibisworld.co.uk/market-research/nightclubs.html" target="_black">6965</a> potential paying customers, in an industry that would benefit from a cost effective method of researching consumers <a href="www.youtube.com/watch?v=oVfHeWTKjag" target="_blank">(facebook is not cost effective) </a> which some venues i have personally worked in spend hundreds of pounds a week on.</p></div>

<h3 class="ui center aligned dividing header">Internet Advertising <div class="sub header">Global Markets</div></h3><div class="ui content"><p>The following charts sourced from emarketer and OfCom (links provided under each chart) confirm expenditures on Internet based advertising are currently worth billions of dollars a year and increasing steadily. This can could be attributed to the consumer up take of Internet devices and/or an increase accessibility for a wider range of business to utilizes Internet based advertising. 
<ul>Sizable markets from this data include:
	<li><small>the</small> UK <small> Largest market in western Europe with a considerable spend per head</small></li>
	<li><small>The</small> USA <small>Considering the spend per header and population</small></li>
	<li>Germany <small>Being on of the largest markets on main land Europe</small></li>
	<li>Australia</li>
	<li>Japan and Korea <small>Who spend more per head and any other country</small></li></ul></p></div>


<div id="DigitalAdSpendingInWesternEurope" class="ui center aligned dividing header">Digital ad spending in western Europe</div><div class="ui content">(billions of dollars)<div id="format-chart"><svg style="height:300px"></svg></div><p>Source: <a href="http://www.emarketer.com/Article/Display-Mobile-Key-Drivers-of-Western-European-Digital-Ad-Spending-Growth/1010371" target="_blank">www.marketer.com</a></p></div>

<div id="DigitalAdSpendingEurope"class="ui center aligned dividing header">Digital ad spending Europe (by country)</div><div class="ui content">(billions of dollars)<div id="digital-add-chart"><svg style="height:300px"></svg></div><p>Source: <a href="http://www.emarketer.com/Article/Display-Mobile-Key-Drivers-of-Western-European-Digital-Ad-Spending-Growth/1010371" target="_blank">www.marketer.com</a></p></div>

<div id="MobileAdSpendingInWesternEurope" class="ui center aligned dividing header">Mobile ad spending in western Europe (by country)</div><div class="ui content">(billions of dollars)<div id="mobile-chart"><svg style="height:300px"></svg></div><p>Source: <a href="http://www.emarketer.com/Article/Display-Mobile-Key-Drivers-of-Western-European-Digital-Ad-Spending-Growth/1010371" target="_blank">www.marketer.com</a></p></div>

<div id="InternetShareOfAllAdvertisingSpend"class="ui center aligned dividing header">Internet share of all advertising spend </div><div class="ui content"><div id="adspend-chart"><svg style="height:300px"></svg></div><p>Source: <a href="http://stakeholders.ofcom.org.uk/market-data-research/market-data/communications-market-reports/cmr14/downloads/" target="_blank">OfCom</a></p></div>

<div id="MobileAdvertisingExpenditurePerHead" class="ui center aligned dividing header"> Mobile advertising expenditure per head <div class="sub header"> Internet advertising spend per head (GBP)</div></div><div class="ui content"><div id="mob-adspend-chart"><svg style="height:300px"></svg></div><p>Source: <a href="http://stakeholders.ofcom.org.uk/market-data-research/market-data/communications-market-reports/cmr14/downloads/" target="_blank">OfCom</a></p></div>

<div id="UseOfSmartPhones" class="ui center aligned dividing header"> Use of smart-phones <div class="sub header"> Proportion of respondents (%)</div></div><div class="ui content"><div id="smartphone-chart"><svg style="height:300px"></svg></div><p>Source: <a href="http://stakeholders.ofcom.org.uk/market-data-research/market-data/communications-market-reports/cmr14/downloads/" target="_blank">OfCom</a></p></div>

<div id="PortableDevicesUsedToAccessTheInter-net" class="ui center aligned dividing header">Portable devices used to access the inter-net <div class="sub header"> All respondents (%)</div></div><div class="ui content"><div id="portDev-chart"><svg style="height:300px"></svg></div><p>Source: <a href="http://stakeholders.ofcom.org.uk/market-data-research/market-data/communications-market-reports/cmr14/downloads/" target="_blank">OfCom</a></p></div>


<h3 class="ui header">Internet Advertising <div class="sub header">UK Markets</div></h3>

<div id="web-basedContentMarket" class="ui center aligned dividing header">UK inter-net and web-based content market: key statistics</div>
<table class="ui compact celled table"><thead>
<tr><th>UK internet and web-based content market</th><th>2009</th><th>2010</th><th>2011</th><th>2012</th><th>2013</th><th>2014</th></tr></thead><tbody>
<tr><td>Internet take-up (%)</td></td><td>73</td><td>75</td><td>77</td><td>79</td><td>80</td><td>82</td></tr>
<tr><td>Internet on mobile-phone take-up (%)</td><td>20</td><td>21</td><td>32</td><td>39</td><td>49</td><td>57</td></tr>
<tr><td>Monthly active audience on laptop/desktop computers</td><td>38.6m</td><td>43.1m</td><td>42.2m</td><td>43.6m</td><td>44.6m</td><td>n/a</td></tr>
<tr><td>Time spent web browsing per laptop/desktop inter-net user per month (hours)</td><td>29.4</td><td>30.9</td><td>31.5</td><td>34.7</td><td>34.2</td><td>n/a</td></tr>
<tr><td>Digital advertising expenditure (£)</td><td>3.5bn</td><td>4.1bn</td><td>4.8bn</td><td>5.4bn</td><td>6.3bn</td><td>n/a</td></tr>
<tr><td>Mobile advertising revenue (£)</td><td>38m</td><td>83m</td><td>203m</td><td>526m</td><td>1031m</td><td>n/a</td></tr></tbody></table>
<div class="ui content"><a href="http://stakeholders.ofcom.org.uk/market-data-research/market-data/communications-market-reports/cmr14/downloads/" target="_blank">Source:</a> 1Ofcom consumer research, Q1 each year, 2comScore MMX, UK, annual average from reported monthly values; 3Internet Advertising Bureau/PwC. <small>Note: Caution is advised in comparing values before and after February 2011 because of a change in comScore methodology</small></div>

<div id="digitalAdvertisingExpenditure" class="ui center aligned dividing header">Digital advertising expenditure <small> by type: 2008 - 2013</small></div><div class="ui content">Millions (£)<div id="OfComOne-chart"><svg style="height:300px"></svg></div><p>Source: <a href="http://stakeholders.ofcom.org.uk/market-data-research/market-data/communications-market-reports/cmr14/downloads/" target="_blank">OfCom</a></p></div>

<div id="mobileAdvertising"class="ui center aligned dividing header">Mobile advertising <small> by type: 2008-2013</small></div><div class="ui content">Share of revenues (%)<div id="OfComTwo-chart"><svg style="height:300px"></svg></div><p>Source: <a href="http://stakeholders.ofcom.org.uk/market-data-research/market-data/communications-market-reports/cmr14/downloads/" target="_blank">OfCom</a></p></div>

<div id="mobileAdvertisingVsDeviceTake-up" class="ui center aligned dividing header">Mobile advertising Vs Device take-up <small> </small></div><div class="ui content"><div id="takeup-chart"><svg style="height:300px"></svg></div><p>Source: <a href="http://stakeholders.ofcom.org.uk/market-data-research/market-data/communications-market-reports/cmr14/downloads/" target="_blank">OfCom</a></p></div>


<h3 id="demographicMapOfTheUK" class="ui center aligned dividing header">Demographic map of the UK <p class="sub header">Data sourced from the <a href="http://www.ons.gov.uk/ons/index.html" target="_blank"> office of national statistics (2013)</a> And presented using <a href="http://d3js.org/" target="_blank">D3</a>.js (data-driven documents), <a href="http://square.github.io/crossfilter/" target="_blank">Crossfilter</a> and <a href="http://dc-js.github.io/dc.js/" target="_blank">DC</a>.js </p></h3>
<div class="ui two column grid"><div class="row"><div class="column"><div class="ui horizontal segment"><div id="chart-hist-spend"><h4 class="ui dividing header">Population by country<p class="sub header">Click bar to filter</p></h4></div><div id="chart-ring-year"><h4 class="ui dividing header">Male/Female <p class="sub header">Click to filter</p></h4></div></div></div><div class="column"><div class="ui horizontal segment"><div id="ukmap"><p class="sub header">Un-interactive map (to add bubble overlay)</p></div></div></div></div></div><div class="ui basic segment"><div id="regionPieChart"><h4 class="ui dividing header">Regional Population<p class="sub header">Hover for Population</p></h4></div><div id="chart-row-spenders"><h4 class="ui dividing header">Population by Age<p class="sub header">click and drag for cross-filter</p></h4></div></div>

<h3 id="urbanPopulation" class="ui center aligned dividing header">Urban (city dwelling) Population<p class="sub header"> data sourced from <a href="http://data.worldbank.org/country/united-kingdom" target="_blank">The world bank</a></p></h3><div id="urbanPopulationChart"><svg style="height:300px"></svg></div>

<h3 id="AnalysisOfACityCenterVenueAdvertisingExpenditure" class="ui center aligned dividing header">Analysis of a city center venue's advertising expenditure<div class="sub header"> Information gained through previous professional relationships (for when I regularly worked in a venue and asked promoters and managers)</div></h3>
<p>Marketing mix – Social media and direct marketing</p>
<p>Cost is kept to a minimal through contracted promoters, cost= £7 per hour per worker and £1 per person who comes in current
promoters expenditure on digital advertising (via social media) is £50 to £100 per week with varying levels of success. 
</p>
<p>With current tools and resources no localized market data is available on consumer behavior patterns, although facebook does provide data on "liked" users interests and whereabouts along with marketing tools that allow "targeted" marketing (it is notable that these features of the service have some <a href="https://www.youtube.com/watch?v=oVfHeWTKjag" target="_blank" >flaws</a>)</p>

<p>During a sample week the venue's marketing expenses where £450, which resulted in attendance of 812 people equating out to expenditures of £0.50 - £0.70 per person.
</p>

<h3 id="competitorAnalysis" class="ui center aligned dividing header">Competitor analysis</h3>
	<div class="ui basic segment">
		<h4 class="ui header">Facebook</h4>
		<p>currently retains a large share of marketing expenses for highest spending target consumer (Venues). This is probably down to factors such as social integration and ease of use</p>
		<ul> Notable features include
			<li>
				Advertising implements a scalable pay for placement
			</li>

			<li>
				"Market" data viewer demographic and interests (based on profiles that have previously engaged with the business's page)
			</li>

			<li>
				Providing information about data of audience interaction with the page.
			</li>
		</ul>

		<ul>">Weakness's
			<li>
				Consumer has to interact with the page before information is exchanged 
			</li>

			<li>
				The incremental cost of advertising <p> which can result in interested parties not receiving information.</p>
			</li>

			<li>
				falsified accounts/like farms <p>can and do reduce the effectiveness of an advertisement along with increasing the cost or effort required to reach the target audience</p>
			</li>
		</ul>

		<h4 class="ui header">Listing applications</h4><p>There are many kind o listing applications relating to localized (regional) live music events. Which is an inherent weakness as diversifying into more industries and larger areas (nations) requires similar data sets and implementation (to my limited knowledge in the subject)</p>
	
	</div>

</div><!--market segment -->