<h2 class="ui dividing header">Executive Summary</h2>
<div class="ui segment">
	<h3 class="ui header">Business concept:</h3>
	<div id="business-concept" class="ui content">
		<p> The concept is to integrate Internet pay-for-placement advertising and location &amp; time  based mapping in to one application (resize your screen to about mobile phone size and check the <a href="/qg-demo" target="_blank"> demo</a>). Note that this is only a demo with many features still to be added, such as user generated content, twitter feeds, a rating system (which may use tripadvisor's api) and so on. This app can be used by the end user to instantly find out what events (gigs, sales, venues) are happening with in there current location with a reasonable time frame. this does require that events are posted to the application and premises/locations verified along with necessary data which would be the duty of an account holder to do.</p>

		<p>Account holders, who would commonly be trying to promote an event of premises would be the potential paying customer, with end users and/or non paying account holders receiving limited features that still enable the application to be functionally used. such as user would be able to view and interact with postings, a free user account holder can add locations/premises but only post one event at a time) while a paying user holder would be able to take control of a premises, verify events attributed that premise and also receive consumer usage information related to their location and search attributes. (This is a pretty standard subscriptions based freemium price model) There may also be requirement for a account management, in which a multiple users can be attributed to locations and/or multiple locations can be managed.</p>
		</div>

	<h3 class="ui header">	Competitive advantage:</h3>
	<div id="Competitive-advantage" class="ui content">
		<p> The business is similar to other listing applications such as bandloop, bandintown, gigabeat, on tour concert finder, songkick concerts and setlist.fm. Of all of these listing apps only one has an integrated map function, all of them are focused solely on live music while qweewq gig will list (practically) any type of event/activity/location. Which allows the business to facilitate the mass consumer market and niche interests. </p>
	</div>
	<h3 class="ui header"> Current objectives:</h3>
	<div id="current-objectives" class="ui content">
		<p>
			<ul>
				<li>finish development of a demo application</li>
				<li>Secure required resources to field test the demo</li>
				<li>Gain links to strategic partners and networks</li>
				<li>Identify suitable areas and favorable conditions for product testing and conducting market research</li>
				<li>Recurrent core team members for product development</li>
			</ul>
		</p>
	</div>
</div>
