<h2 class="ui dividing header">B2C <div id="b2c" class="sub header"> business to consumer</div> </h2>

<div class="ui segment">

	<h3 class="ui header"> As an intermediate service</h3>
	
	<p>Cost effective and efficient inter-net advertising is what we offer for business to consumer transactions. A business can advertise their premises/event our service using a two tier price range.One free to facilitate niche interests and/or casual promoters which offers limited use of our services suited to niche interest events and/or casual promoters. This would be limited to one advert at a time until the event has passed although theoretically they could just update every day which would be a lot of work considering the convince a subscription would bring them.</p>

	<p> The other tier is for subscribed users who can upload/update multiple advertisements to our service, mange premises they have administrator privileges over but also receive consumer usage reports that can be used in the formation of marketing activities</p>

	<p>Given the localized distribution of relatively small amounts of data the application requires, this could be done for much cheaper than current social media marketing services. Of course the exact amount will have to calibrated according to test data alone with free-usage and premium account uptake in-order to find a profitable balance</p>

	<h3 class="ui header">As a business<div class="sub header">interacting with and/or facilitating consumers"></div></h3>

	<p>Probably one of the most important parts of the business in customer service and understanding that our product/service works like a platform for engagement, rather than a unilateral method of delivering advertisements. Hence the slight mention for social media application and possibly a rating system so that consumers can interact with one another and/or the business that are advertising on our platform</p>

</div>