<h2 class="ui dividing header">Finical Plans</h2>
<div id="finical-plans"class="ui segment">
<h3 class="ui center aligned header">Summary</h3>
<p></p>
<div class="ui divider"></div>

<h3 class="ui header">Start-up and early development process</h3><p>During this time it will be necessary to continue learning on the job in oder to progress the development of the application with-out exceeding budgetary limitations. This cost driven approach appears to be only course of action that can eventually result in an operational service.While saving up for the probable chance un-backed launch and testing phase, although measures will be taken to try to gain consumer/commercial interest during the testing of the service.</p>
<p>Ideally events based in cities lasting for a few days to a few weeks would provide a suitable testing ground. Events such as sound city in Liverpool, the fringe in Edinburgh among others. During this phase funding will be required to pay for server cycles, data-exchanges, travel, accommodation along with other related expenses, along with contacting business/community members with in the area weeks or a month before hand to offer them an exclusive (to the testing area) free accounts so that the necessary user generated content (in the business to customer sense) is available.</p>
<div class="ui divider"></div>
<h4 class="ui dividing header"> A rough estimate for this process <div class="sub header"> this has to be a rough estimate as the total load on the cloud services and cost relies on many variables which have not yet be garaged beyond my own personal usage of those services</div>Could range in-between £500 and £2000, <div class="ui sub header">depending on location, time frame and size of the test group </div></h4><p>If sufficient finical backing (public, private or personal) is not available before this test period there is a remote possibility of going defaulting on the invoices for server use and entering a long term repayment arrangement.</p><p> If sufficient data as to usage and cost is established then I would consider it a worth expenditure as further plans could be formed around managing cost and server responses.</p>
<div class="ui divider"></div>
<h3 class="ui header">Mid to long term cost expectations</h3>
<div class="sub header">Comparatively with other users of the same cloud services</div><p> Netflix, the video on demanded service provider also uses AWS-EC2 servers. Charge around £7 a mouth for one user subscription, and are required to send much more data per user instance than our services need to (we few thousand characters of JSON and/or string formated text at a time, compared to DVD and series that netflix send). While most of our users will be free tier users (consumers and try-out business accounts). The paying business who advertise regularly on our services and receive consumer behavior information should provided a sufficient income></p>

<div id="funding-sources">
	<h3 class="ui header"> Possible sources of funding </h3>
<ul>
	<li>Entrepreneurial crowd funding via: <a href="https://www.startjoin.com/" target="_blank">StartJOIN</a> and <a href="https://startcoin.org/" target="_blank">StartCOIN</a><small>This also provides an interesting media relationship by association with <a href="http://www.maxkeiser.com/tag/startcoin/" target="_blank">Max Keiser</a></small></li>
	<li>Regional (Edinburgh based) Venture Capital agencies <a href="http://www.pentechvc.com/" target="_blank">Pentech venture capital</a> and <a href="https://www.parequity.com/profile/our-business/" target="_blank">Par-Equity</a></li>
	<li>Business loans <small>Although this require collateral assets which i (personally) have few off significant value, unless the web service it self is considered of value</small></li>
	<li>Government/Public funding <small>I would prefer not to request governmental funding due to possible conditions being applied to funding offered</small></li>
</ul>
</div>
</div>