<h2 class="ui dividing header">Development log</h2>
<div id="dev-log" class="ui segment">
	<h3 class="ui center aligned header">Development To-do list</h3>
	<table class="ui table">
		<thead>
			<th>Task</th><th>Status</th>
		</thead>
		<tbody>
			<tr>
				<td>Address validation</td><td>Done</td>
			</tr>
			<tr>
				<td>Auto Coordinate generation</td><td>Done</td>
			</tr>
			<tr>
				<td>Load Map</td><td>done</td>
			</tr>
			<tr>
				<td>Add test markers</td><td>Done</td>
			</tr>
			<tr>
				<td>Add icons to markers</td><td>Done</td>
			</tr>
			<tr>
				<td>Add Colours to marker></td><td>Done</td>
			</tr>
			<tr>
				<td>App onclick popup to markers</td><td>needs re-done to include dynamic data</td>
			</tr>
			<tr>
				<td>Create add location form</td><td>needs to post coordinates as an array, and include search tags</td>
			</tr>
			<tr>
				<td>add geo-locating capabilities  and getNeat queries capabilities to the app</td><td>goe-locating is done, get near requires more data and development</td>
			</tr>
			<tr>
				<td>Inter-grate twitter api</td><td>needs redone</td>
			</tr>
			<tr>
				<td>integrate pictures in to the pop-ups</td><td>to do (imgur would do)</td>
			</tr>
			<tr>
				<td>Complete CRUD (create, read, update, delete) functions for marker/locations</td><td>to do</td>
			</tr>
			<tr>
				<td>crate dynamically generated graphs that reflect data requests</td><td>To Do, although a suitable graph library has been found</td>
			</tr>
			<tr>
				<td>Add an email handler to the demo site</td><td>In progress</td>
			</tr>
			<tr>
				<td>Add in personal info to the site</td><td>to do</td>
			</tr>
			<tr>
				<td>blog about something</td><td>to do</td>
			</tr>
			<tr>
				<td>Maybe add an adverting banner to cover costs</td><td>to do</td>
			</tr>
			<tr>
				<td>Search engine optimization</td><td>to do</td>
			</tr>
			<tr>
				<td>secure appropriate domain names</td><td>done</td>
			</tr>
			<!--
			<tr>
				<td>get a life</td><td>NEVER!</td>
			</tr>
			-->
		</tbody>
	</table>
</div>