<h1 class="western" align="center" style="margin-top: 0cm; margin-bottom: 0.49cm">
<font face="StarJedi Special Edition">BandCast Scotland </font>
</h1>
</p>
<h1 class="western" style="margin-top: 0cm; margin-bottom: 0.49cm"><a name="Table_of_Contents"></a>
<font face="StarJedi Special Edition">Table of Contents </font>
</h1>
<p class="western" style="margin-bottom: 0.49cm"><a class="western" href="#1_0_Executive_Summary" target="_blank"><font color="#0000ff"><font face="StarJedi Special Edition"><span lang="en-GB"><u>1.0
Executive Summary</u></span></font></font></a><font face="StarJedi Special Edition">
</font>
</p>
<p class="western" style="margin-bottom: 0.49cm"><a class="western" href="#2_0_Company_Summary" target="_blank"><font color="#0000ff"><font face="StarJedi Special Edition"><span lang="en-GB"><u>2.0
Company Summary</u></span></font></font></a><font face="StarJedi Special Edition">
</font>
</p>
<ol>
	<p class="western" style="margin-bottom: 0cm"><font color="#0000ff"><font face="StarJedi Special Edition"><span lang="en-GB"><u><a class="western" href="#2_1_Start_up_Summary" target="_blank">2.1
	</a>Objectives </u></span></font></font>
	</p>
	<p class="western" style="margin-bottom: 0cm"><font color="#0000ff"><font face="StarJedi Special Edition"><u>2.2
	Personnel </u></font></font>
	</p>
	<p class="western" style="margin-bottom: 0cm"><font color="#0000ff"><font face="StarJedi Special Edition"><u>2.3
	Assets</u></font></font></p>
	<ol>
		<p class="western" style="margin-bottom: 0cm"><font face="StarJedi Special Edition"><font color="#000000"><span style="text-decoration: none"><span lang="en-GB">a.
		</span></span></font><font color="#0000ff"><span lang="en-GB"><u>Table
		for pilot </u></span></font></font>
		</p>
		<p class="western" style="margin-bottom: 0cm"><font face="StarJedi Special Edition"><font color="#000000"><span style="text-decoration: none"><span lang="en-GB">b.
		</span></span></font><font color="#0000ff"><span lang="en-GB"><u>Table
		for start up</u></span></font></font></p>
	</ol>
</ol>
<p class="western" style="margin-bottom: 0cm"><br/>

</p>
<p class="western" style="margin-bottom: 0cm; font-weight: normal"><font color="#0000ff"><font face="StarJedi Special Edition"><font size="2" style="font-size: 10pt"><u><span lang="en-GB">3.0
Market Demand</span></u></font></font></font></p>
<p class="western" style="margin-bottom: 0cm"><br/>

</p>
<p class="western" style="margin-bottom: 0.49cm; font-weight: normal">
<font color="#0000ff"><font face="StarJedi Special Edition"><font size="2" style="font-size: 10pt"><u><span style="font-variant: normal"><span lang="en-GB"><span style="font-style: normal">3.1
Overview of statements made</span></span></span></u></font></font></font></p>
<p class="western" style="margin-bottom: 0.49cm; font-weight: normal">
<font color="#0000ff"><font face="StarJedi Special Edition"><font size="2" style="font-size: 10pt"><u><span lang="en-GB">4.0
Health and safety issues.</span></u></font></font></font></p>
<p class="western" style="margin-bottom: 0.49cm; font-weight: normal">
<font color="#0000ff"><font face="StarJedi Special Edition"><font size="2" style="font-size: 10pt"><u><span style="font-variant: normal"><span style="letter-spacing: normal"><span lang="en-GB"><span style="font-style: normal">4.1
Duties</span></span></span></span></u></font></font></font></p>
<p class="western" style="margin-top: 0.16cm; margin-bottom: 0.49cm; font-variant: normal; letter-spacing: normal; font-style: normal; font-weight: normal">
<font color="#0000ff"><font face="StarJedi Special Edition"><font size="2" style="font-size: 10pt"><u>4.2
Obligations and factors to consider</u></font></font></font></p>
<p class="western" style="margin-top: 0.16cm; margin-bottom: 0.49cm; font-variant: normal; letter-spacing: normal; font-style: normal; font-weight: normal">
<font color="#0000ff"><font face="StarJedi Special Edition"><font size="2" style="font-size: 10pt"><u>4.3
Remedies:</u></font></font></font></p>
<p class="western" style="margin-bottom: 0.49cm; font-variant: normal; letter-spacing: normal; font-style: normal; font-weight: normal">
<font color="#0000ff"><font face="StarJedi Special Edition"><font size="2" style="font-size: 10pt"><u>5.0
Legislative and legal issues</u></font></font></font></p>
<p class="western" style="margin-bottom: 0.49cm; font-weight: normal">
<font color="#0000ff"><font face="StarJedi Special Edition"><font size="2" style="font-size: 10pt"><u><span style="font-variant: normal"><span lang="en-GB"><span style="font-style: normal">6.0
</span></span></span><span lang="en-GB">Contingency</span></u></font></font></font></p>
<p class="western" style="margin-bottom: 0.49cm; font-weight: normal">
<font color="#0000ff"><font face="StarJedi Special Edition"><font size="2" style="font-size: 10pt"><u><span style="font-variant: normal"><span lang="en-GB"><span style="font-style: normal">7.0
</span></span></span><span lang="en-GB">Event schedule</span></u></font></font></font></p>
<p class="western" style="margin-bottom: 0.49cm"><font face="StarJedi Special Edition"><span style="font-variant: normal"><font color="#0000ff"><font size="2" style="font-size: 10pt"><span lang="en-GB"><span style="font-style: normal"><u><span style="font-weight: normal">8.0
</span></u></span></span></font></font></span><font color="#0000ff"><font size="2" style="font-size: 10pt"><span lang="en-GB"><u><span style="font-weight: normal">Rationale
and justification</span></u></span></font></font></font></p>
<p class="western" style="margin-bottom: 0.49cm"><font face="StarJedi Special Edition"><font color="#0000ff"><font size="2" style="font-size: 10pt"><span lang="en-GB"><u><span style="font-weight: normal">9.0
Strategy and Implementation Summary</span></u></span></font></font></font></p>


<font face="StarJedi Special Edition">1.0 Executive Summary </font>
</h1>
<p class="western" style="margin-bottom: 0.49cm"><font face="StarJedi Special Edition"><span style="font-variant: normal"><font color="#000000"><font size="2" style="font-size: 10pt"><span style="letter-spacing: normal"><span style="font-style: normal"><b>Business
concept</b></span></span></font></font></span><span style="font-variant: normal"><font color="#000000"><font size="2" style="font-size: 10pt"><span style="letter-spacing: normal"><span style="font-style: normal"><span style="font-weight: normal">:<br><br>Bandcast,
when fully operational intends to function as an online artist and repertoire exposure project for Scottish music industry focusing on creating public relations material for emerging artists that can be accesses by a global audience.<br><br>This is role usually fulfilled by an A&amp;R scout, but the presence of these scouts has diminished over recent decades resulting in resources/acts that have developed
and left untapped.<br><br>Bandcast take this regional talent and documents it a popular medium that is easily accessible and cost effective to create better exposure for regional acts and artists such as live casts and videos streams.<br><br>This document represents the requirements for one of these sessions which will function as a pilot for the scheme</span></span></span></font></font></span></font></p>
<p class="western" style="margin-bottom: 0.49cm; font-variant: normal; letter-spacing: normal; font-style: normal">
<font face="StarJedi Special Edition"><font size="2" style="font-size: 10pt"><b>Revenue
streams and funding opportunities</b></font></font></p>
<ul>
	<li/>
<p class="western" style="margin-bottom: 0.49cm; font-variant: normal; letter-spacing: normal; font-style: normal; font-weight: normal">
	<font face="StarJedi Special Edition"><font size="2" style="font-size: 10pt">Advertising</font></font></p>
	<li/>
<p class="western" style="margin-bottom: 0.49cm; font-variant: normal; letter-spacing: normal; font-style: normal; font-weight: normal">
	<font face="StarJedi Special Edition"><font size="2" style="font-size: 10pt">Public
	funds</font></font></p>
	<li/>
<p class="western" style="margin-bottom: 0.49cm; font-variant: normal; letter-spacing: normal; font-style: normal; font-weight: normal">
	<font face="StarJedi Special Edition"><font size="2" style="font-size: 10pt">Commission
	on income and interests generated through bandcast materials</font></font></p>
	<li/>
<p class="western" style="margin-bottom: 0.49cm; font-variant: normal; letter-spacing: normal; font-style: normal; font-weight: normal">
	<font face="StarJedi Special Edition"><font size="2" style="font-size: 10pt">Exclusive
	A&amp;R and/or licensing and publication agreements <br><br></font></font><br/>
<br/>

	</p>
</ul>
<p class="western" align="left" style="margin-bottom: 0cm; border: none; padding: 0cm">
<font face="StarJedi Special Edition"><span style="font-variant: normal"><font color="#000000"><font size="2" style="font-size: 10pt"><span style="letter-spacing: normal"><span style="font-style: normal"><b>Financial
requirements</b></span></span></font></font></span><span style="font-variant: normal"><font color="#000000"><font size="2" style="font-size: 10pt"><span style="letter-spacing: normal"><span style="font-style: normal"><span style="font-weight: normal">/liability
of the project for the pilot are to be kept minimal preferably
non-existent by delegating individual expenses to the individual
participant in exchange allowing the work and intellectual property
of the endeavour and it’s participants to be exploited be the
participants as long as that exploitation does not effect/exploit
another participants intrinsic rights without appropriate
remunerations being assigned, <br><br>In the event that funds are
required in order to run pilot those will be distributed at the
discretion of the project co-ordinator/manager under their own
volition.<br></span></span></span></font></font></span></font><br/>

</p>
<p class="western" align="left" style="margin-bottom: 0cm; border: none; padding: 0cm">
<font face="StarJedi Special Edition"><span style="font-variant: normal"><font color="#000000"><font size="2" style="font-size: 10pt"><span style="letter-spacing: normal"><span style="font-style: normal"><b>4.
Current business position</b></span></span></font></font></span><span style="font-variant: normal"><font color="#000000"><font size="2" style="font-size: 10pt"><span style="letter-spacing: normal"><span style="font-style: normal"><span style="font-weight: normal">:
Furnishes relevant information about the company, its legal form of
operation, when it was formed, the principal owners, and key
personnel.</span></span></span></font></font></span></font></p>
<p class="western" align="left" style="margin-bottom: 0cm; border: none; padding: 0cm">
<br/>

</p>
<p class="western" align="left" style="margin-bottom: 0cm; border: none; padding: 0cm">
<font face="StarJedi Special Edition"><span style="font-variant: normal"><font color="#000000"><font size="2" style="font-size: 10pt"><span style="letter-spacing: normal"><span style="font-style: normal"><b>5.
Major achievements</b></span></span></font></font></span><span style="font-variant: normal"><font color="#000000"><font size="2" style="font-size: 10pt"><span style="letter-spacing: normal"><span style="font-style: normal"><span style="font-weight: normal">:
Details any developments within the company that are essential to the
success of the business. Major achievements include items like
patents, prototypes, location of a facility, any crucial contracts
that need to be in place for product development, or results from any
test marketing that has been conducted.</span></span></span></font></font></span></font></p>
<h1 class="western" style="margin-top: 0cm; margin-bottom: 0.49cm"><font face="StarJedi Special Edition">2.0
Company Summary </font>
</h1>
<p class="western" style="margin-bottom: 0.49cm"><font face="StarJedi Special Edition">Bandcast
Scotland is a non-profit organisation that facilitates A&amp;R
development and exposure of regional/national music acts and artist
of Scotland that could be of public and/or music industry interest. </font>
</p>
<p class="western" style="margin-bottom: 0.49cm"><font face="StarJedi Special Edition">Currently
in the early stages of pilot cast production, with participating
parties being either: Identified, consenting to enter negotiations
and/or have expressing interest in the project and await further
information.<br><br><font size="4" style="font-size: 14pt"><b>2.1
Objectives </b></font></font>
</p>
<ul>
	<li/>
<p class="western" style="margin-bottom: 0.49cm; font-weight: normal; line-height: 100%">
	<font face="StarJedi Special Edition"><font size="2" style="font-size: 10pt">Provide
	culture to people</font></font></p>
	<li/>
<p class="western" style="margin-bottom: 0.49cm; font-weight: normal; line-height: 100%">
	<font face="StarJedi Special Edition"><font size="2" style="font-size: 10pt">Utilise
	and promote regional talent</font></font></p>
	<li/>
<p class="western" style="margin-bottom: 0.49cm; font-weight: normal; line-height: 100%">
	<font face="StarJedi Special Edition"><font size="2" style="font-size: 10pt">Create
	citable evidence that justifies investment in the creative
	industries</font></font></p>
	<li/>
<p class="western" style="margin-bottom: 0.49cm; font-weight: normal; line-height: 100%">
	<font face="StarJedi Special Edition"><font size="2" style="font-size: 10pt">Providing
	a source of experience and/or jobs in the creative industries</font></font></p>
</ul>
<p class="western" style="margin-bottom: 0.49cm; font-weight: normal">
<font face="StarJedi Special Edition"><font size="4" style="font-size: 14pt"><b>2.2
Personnel</b></font></font></p>
<p class="western" style="margin-bottom: 0.49cm; font-weight: normal">
<font face="StarJedi Special Edition"><font size="2" style="font-size: 10pt"><br>Project
manger and coordinator – Marc McIntosh<br><br><b>Required
personal</b><br><br><b>Audio – </b>Artists/performers, recording
engineer, producer, assistant/runner<br><br><b>Media and broadcast –
</b>Camera operators, Broadcasting desk operator, assistant<br><br><b>Advisers
and technicians – </b>Legal, IT technician, assistant<br><br><br></font></font><br/>
<br/>

</p>
<h2 class="western" style="margin-top: 0cm; margin-bottom: 0.49cm"><a name="2_1_Start_up_Summary"></a>
<font face="StarJedi Special Edition"><br><br></font><br/>
<br/>

</h2>
<h2 class="western" style="margin-top: 0cm; margin-bottom: 0.49cm; page-break-before: always">
<font face="StarJedi Special Edition">2.3 <span style="background: transparent">Assets</span></font></h2>
<h2 class="western" style="margin-top: 0cm; margin-bottom: 0.49cm"><font face="StarJedi Special Edition">Pilot</font></h2>
<table width="412" cellpadding="4" cellspacing="0">
	<col width="245">
	<col width="151">
	<tr>
		<td width="245" style="border: none; padding: 0cm">
			<p class="western" align="left"><font face="StarJedi Special Edition"><b>Requirements</b>
			</font>
			</p>
		</td>
		<td width="151" style="border: none; padding: 0cm">
			<p class="western"><font face="StarJedi Special Edition"><b>Source</b></font></p>
		</td>
	</tr>
	<tr>
		<td width="245" style="border: none; padding: 0cm">
			<p class="western"><br/>

			</p>
		</td>
		<td width="151" style="border: none; padding: 0cm">
			<p class="western"><br/>

			</p>
		</td>
	</tr>
	<tr>
		<td width="245" style="border: none; padding: 0cm">
			<p class="western"><font face="StarJedi Special Edition">Band</font></p>
		</td>
		<td width="151" style="border: none; padding: 0cm">
			<p class="western"><font face="StarJedi Special Edition">Personal
			network</font></p>
		</td>
	</tr>
	<tr>
		<td width="245" style="border: none; padding: 0cm">
			<p class="western"><font face="StarJedi Special Edition">Producer
			and audio recording team</font></p>
		</td>
		<td width="151" style="border: none; padding: 0cm">
			<p class="western"><font face="StarJedi Special Edition">UHI
			students </font>
			</p>
		</td>
	</tr>
	<tr>
		<td width="245" style="border: none; padding: 0cm">
			<p class="western"><font face="StarJedi Special Edition">Camera/Media
			crew</font></p>
		</td>
		<td width="151" style="border: none; padding: 0cm">
			<p class="western"><font face="StarJedi Special Edition">UHI
			Students</font></p>
		</td>
	</tr>
	<tr>
		<td width="245" style="border: none; padding: 0cm">
			<p class="western"><font face="StarJedi Special Edition">Recording
			Studio</font></p>
		</td>
		<td width="151" style="border: none; padding: 0cm">
			<p class="western"><font face="StarJedi Special Edition">UHI</font></p>
		</td>
	</tr>
	<tr>
		<td width="245" style="border: none; padding: 0cm">
			<p class="western"><font face="StarJedi Special Edition">Broadcast
			quality cameras</font></p>
		</td>
		<td width="151" style="border: none; padding: 0cm">
			<p class="western"><font face="StarJedi Special Edition">UHI </font>
			</p>
		</td>
	</tr>
	<tr>
		<td width="245" style="border: none; padding: 0cm">
			<p class="western"><font face="StarJedi Special Edition">Computer,
			software and cables required to broadcast</font></p>
		</td>
		<td width="151" style="border: none; padding: 0cm">
			<p class="western"><font face="StarJedi Special Edition">UHI</font></p>
		</td>
	</tr>
	<tr>
		<td width="245" style="border: none; padding: 0cm">
			<p class="western"><font face="StarJedi Special Edition">Capturing
			device to record the event for editing later</font></p>
		</td>
		<td width="151" style="border: none; padding: 0cm">
			<p class="western"><font face="StarJedi Special Edition">UHI if
			available</font></p>
		</td>
	</tr>
	<tr>
		<td width="245" style="border: none; padding: 0cm">
			<p class="western"><font face="StarJedi Special Edition">Mixer or
			relative software and computer required to adjust the broadcaster
			audio feed.</font></p>
		</td>
		<td width="151" style="border: none; padding: 0cm">
			<p class="western"><font face="StarJedi Special Edition">UHI
			available if not private resource will be required</font></p>
		</td>
	</tr>
	<tr>
		<td width="245" style="border: none; padding: 0cm">
			<p class="western"><font face="StarJedi Special Edition">Storage
			space</font></p>
		</td>
		<td width="151" style="border: none; padding: 0cm">
			<p class="western"><font face="StarJedi Special Edition">UHI</font></p>
		</td>
	</tr>
	<tr>
		<td width="245" style="border: none; padding: 0cm">
			<p class="western"><font face="StarJedi Special Edition">Transport</font></p>
		</td>
		<td width="151" style="border: none; padding: 0cm">
			<p class="western"><font face="StarJedi Special Edition">Participants</font></p>
		</td>
	</tr>
	<tr>
		<td width="245" style="border: none; padding: 0cm">
			<p class="western"><font face="StarJedi Special Edition">Adequate
			parking</font></p>
		</td>
		<td width="151" style="border: none; padding: 0cm">
			<p class="western"><font face="StarJedi Special Edition">UHI</font></p>
		</td>
	</tr>
	<tr>
		<td width="245" style="border: none; padding: 0cm">
			<p class="western"><font face="StarJedi Special Edition">Food and
			beverages</font></p>
		</td>
		<td width="151" style="border: none; padding: 0cm">
			<p class="western"><font face="StarJedi Special Edition">Participants</font></p>
		</td>
	</tr>
</table>
<p class="western" style="margin-bottom: 0.49cm">&nbsp; <font face="StarJedi Special Edition"><br><br><font size="3" style="font-size: 12pt"><b><br>Table:
Start-up </b></font></font>
</p>
<table width="421" cellpadding="0" cellspacing="0">
	<col width="253">
	<col width="168">
	<tr>
		<td width="253" style="border: none; padding: 0cm">
			<p class="western"><font face="StarJedi Special Edition"><b>Requirements</b>
			</font>
			</p>
		</td>
		<td width="168" style="border: none; padding: 0cm">
			<p class="western"><br/>

			</p>
		</td>
	</tr>
	<tr>
		<td width="253" style="border: none; padding: 0cm">
			<p class="western"><br/>

			</p>
		</td>
		<td width="168" style="border: none; padding: 0cm">
			<p class="western"><br/>

			</p>
		</td>
	</tr>
	<tr>
		<td width="253" style="border: none; padding: 0cm">
			<p class="western"><font face="StarJedi Special Edition"><u><b>Start-up
			Expenses</b></u> </font>
			</p>
		</td>
		<td width="168" style="border: none; padding: 0cm">
			<p class="western"><br/>

			</p>
		</td>
	</tr>
	<tr>
		<td width="253" style="border: none; padding: 0cm">
			<p class="western"><font face="StarJedi Special Edition">Cameras
			and related equipment</font></p>
		</td>
		<td width="168" style="border: none; padding: 0cm">
			<p class="western" align="right"><font face="StarJedi Special Edition">£5000
			</font>
			</p>
		</td>
	</tr>
	<tr>
		<td width="253" style="border: none; padding: 0cm">
			<p class="western"><font face="StarJedi Special Edition">Recording
			studio and crew</font></p>
		</td>
		<td width="168" style="border: none; padding: 0cm">
			<p class="western" align="right"><font face="StarJedi Special Edition">£240
			per cast </font>
			</p>
		</td>
	</tr>
	<tr>
		<td width="253" style="border: none; padding: 0cm">
			<p class="western"><font face="StarJedi Special Edition">Media
			crew</font></p>
		</td>
		<td width="168" style="border: none; padding: 0cm">
			<p class="western" align="right"><font face="StarJedi Special Edition">£240
			per cast (est) </font>
			</p>
		</td>
	</tr>
	<tr>
		<td width="253" style="border: none; padding: 0cm">
			<p class="western"><font face="StarJedi Special Edition">Additional
			computers, software and streaming service accounts </font>
			</p>
		</td>
		<td width="168" style="border: none; padding: 0cm">
			<p class="western" align="right"><font face="StarJedi Special Edition">£2000
			</font>
			</p>
		</td>
	</tr>
	<tr>
		<td width="253" style="border: none; padding: 0cm">
			<p class="western"><font face="StarJedi Special Edition">Insurance
			and PAT tests</font></p>
		</td>
		<td width="168" style="border: none; padding: 0cm">
			<p class="western" align="right"><font face="StarJedi Special Edition">£1000
			</font>
			</p>
		</td>
	</tr>
	<tr>
		<td width="253" style="border: none; padding: 0cm">
			<p class="western"><font face="StarJedi Special Edition">Legal
			fees</font></p>
		</td>
		<td width="168" style="border: none; padding: 0cm">
			<p class="western" align="right"><font face="StarJedi Special Edition">£1000
			</font>
			</p>
		</td>
	</tr>
	<tr>
		<td width="253" style="border: none; padding: 0cm">
			<p class="western"><font face="StarJedi Special Edition">Networking
			activities</font></p>
		</td>
		<td width="168" style="border: none; padding: 0cm">
			<p class="western" align="right"><font face="StarJedi Special Edition">£1000
			per annum</font></p>
		</td>
	</tr>
	<tr>
		<td width="253" style="border: none; padding: 0cm">
			<p class="western"><font face="StarJedi Special Edition">Additional
			expenses</font></p>
		</td>
		<td width="168" style="border: none; padding: 0cm">
			<p class="western" align="right"><font face="StarJedi Special Edition">£1000</font></p>
		</td>
	</tr>
	<tr>
		<td width="253" style="border: none; padding: 0cm">
			<p class="western"><font face="StarJedi Special Edition"><b>Total
			Start-up Expenses</b> </font>
			</p>
		</td>
		<td width="168" style="border: none; padding: 0cm">
			<p class="western" align="right"><font face="StarJedi Special Edition"><b>£11000</b>
			</font>
			</p>
		</td>
	</tr>
	<tr>
		<td width="253" style="border: none; padding: 0cm">
			<p class="western"><font face="StarJedi Special Edition"><b>Plus
			expenses per cast</b></font></p>
		</td>
		<td width="168" style="border: none; padding: 0cm">
			<p class="western" align="right"><font face="StarJedi Special Edition"><b>+£500</b>&nbsp;per
			cast </font>
			</p>
		</td>
	</tr>
</table>
<p class="western" style="margin-bottom: 0.49cm">&nbsp; 
</p>
<p class="western" style="margin-bottom: 0.49cm">&nbsp;<font face="StarJedi Special Edition">So
a 12 episode series would require £17000</font></p>
<h1 class="western" style="margin-top: 0cm; margin-bottom: 0.49cm"><font face="StarJedi Special Edition">3.0
Market Demand </font>
</h1>
<p class="western" style="margin-bottom: 0.49cm"><span style="font-variant: normal"><font color="#000000"><span style="letter-spacing: normal">“</span></font></span><font face="StarJedi Special Edition"><span style="font-variant: normal"><font color="#000000"><font size="2" style="font-size: 9pt"><span style="letter-spacing: normal"><span lang="en-GB"><span style="font-style: normal"><span style="font-weight: normal">a
channel run by Scots, for Scots and funded by Scots is anyway
overwhelmingly overdue</span></span></span></span></font></font></span><span style="font-variant: normal"><font color="#000000"><span style="letter-spacing: normal">”
</span></font></span><span style="font-variant: normal"><font color="#000000"><sup><font size="3" style="font-size: 12pt"><span style="letter-spacing: normal"><span lang="en-GB"><span style="font-style: normal"><span style="font-weight: normal">1</span></span></span></span></font></sup></font></span></font></p>
<p class="western" style="margin-bottom: 0.49cm">“<font face="StarJedi Special Edition"><span lang="en-GB"><i><span style="font-weight: normal">Specifically
in the film industry in Scotland</span></i></span> <span lang="en-GB"><i><span style="font-weight: normal">there’s</span></i></span>
<span lang="en-GB"><i><span style="font-weight: normal">a lot of
tension, the film industry up to 60 of the top professionals have
given a request to or written a letter to creative Scotland and the
government saying we can’t continue the industry is in real crisis
and unless their funding goes from three million to five million
there won’t be an industry. At the same time creative Scotland are
looking at trying to establish a new place for film, somewhere in
Scotland, a studio base. So there’s a lot of tension and activity,
my own thoughts are the countries that are pumping slightly more
money are doing better.” </span></i></span><sup><span lang="en-GB"><i><span style="font-weight: normal">2</span></i></span></sup><span lang="en-GB"><i><span style="font-weight: normal"><br></span></i></span></font><br/>
<br/>

</p>
<p class="western" style="margin-bottom: 0.49cm"><font face="StarJedi Special Edition"><span style="font-variant: normal"><span lang="en-GB"><span style="font-style: normal"><span style="font-weight: normal">There
is only one A&amp;R scout in Scotland – Rickard Smernicki<br><br></span></span></span></span><span style="font-variant: normal"><font size="4" style="font-size: 14pt"><span lang="en-GB"><span style="font-style: normal"><b>3.1
Overview of statements made</b></span></span></font></span></font></p>
<p class="western" style="margin-bottom: 0.49cm"><font face="StarJedi Special Edition">There
is no evident shortage of exploitable talent but a serious lack of
programs and facilities to promote culture and encourage investment
exists in Scotland causes most of this talent to remain latent and
not used to it’s full potential. The primary cause of this would be
the lack of industry exposure and/or ability to cover the regional
effectively.</font></p>
<h1 class="western" style="margin-top: 0cm; margin-bottom: 0.49cm; widows: 2; orphans: 2">
<br/>
<br/>

</h1>
<h1 class="western" style="margin-top: 0cm; margin-bottom: 0.49cm; page-break-before: always">
<font face="StarJedi Special Edition">4.0 Health and safety issues.</font></h1>
<p class="western" style="margin-top: 0.16cm; margin-bottom: 0.49cm"><font face="StarJedi Special Edition">As
The event organiser I Have prime responsibility for the health and
safety of:</font></p>
<ul>
	<li/>
<p class="western" style="margin-top: 0.16cm; margin-bottom: 0.49cm">
	<font face="StarJedi Special Edition">My workers</font></p>
	<li/>
<p class="western" style="margin-top: 0.16cm; margin-bottom: 0.49cm">
	<font face="StarJedi Special Edition">Members of the public</font></p>
	<li/>
<p class="western" style="margin-top: 0.16cm; margin-bottom: 0.49cm">
	<font face="StarJedi Special Edition">Contractors working at the
	event</font></p>
</ul>
<h2 class="western" style="margin-top: 0cm; margin-bottom: 0.49cm; font-variant: normal; letter-spacing: normal; font-style: normal">
<font color="#111111"><font face="StarJedi Special Edition"><font size="4" style="font-size: 14pt"><b>4.1
Duties</b></font></font></font></h2>
<ul>
	<ul>
		<li/>
<h2 class="western" style="margin-top: 0cm; margin-bottom: 0.49cm; font-variant: normal; letter-spacing: normal; font-style: normal; font-weight: normal">
		<font color="#111111"><font face="StarJedi Special Edition"><font size="2" style="font-size: 10pt">Having
		health and safety arrangements in place to control risks</font></font></font></h2>
		<li/>
<h2 class="western" style="margin-top: 0cm; margin-bottom: 0.49cm; font-variant: normal; letter-spacing: normal; font-style: normal; font-weight: normal">
		<font color="#111111"><font face="StarJedi Special Edition"><font size="2" style="font-size: 10pt">Ensuring
		co-operation and proper co-ordination of work activities</font></font></font></h2>
		<li/>
<h2 class="western" style="margin-top: 0cm; margin-bottom: 0.49cm; font-variant: normal; letter-spacing: normal; font-style: normal; font-weight: normal">
		<font color="#111111"><font face="StarJedi Special Edition"><font size="2" style="font-size: 10pt">Providing
		your employees and others with relevant information on any risks to
		their health and safety</font></font></font></h2>
		<li/>
<h2 class="western" style="margin-top: 0cm; margin-bottom: 0.49cm; font-variant: normal; letter-spacing: normal; font-style: normal; font-weight: normal">
		<font color="#111111"><font face="StarJedi Special Edition"><font size="2" style="font-size: 10pt">Ensuring
		the competence of staff to undertake their role safely</font></font></font></h2>
		<li/>
<h2 class="western" style="margin-top: 0cm; margin-bottom: 0.49cm; font-variant: normal; letter-spacing: normal; font-style: normal; font-weight: normal">
		<font color="#111111"><font face="StarJedi Special Edition"><font size="2" style="font-size: 10pt">Monitoring
		health and safety compliance</font></font></font></h2>
		<li/>
<h2 class="western" style="margin-top: 0cm; margin-bottom: 0.49cm">
		<font face="StarJedi Special Edition"><span style="font-variant: normal"><font color="#111111"><font size="2" style="font-size: 10pt"><span style="letter-spacing: normal"><span style="font-style: normal"><span style="font-weight: normal">Reviewing</span></span></span></font></font></span><span style="font-variant: normal"><font color="#111111"><span style="letter-spacing: normal">
		</span></font></span><span style="font-variant: normal"><font color="#111111"><font size="2" style="font-size: 10pt"><span style="letter-spacing: normal"><span style="font-style: normal"><span style="font-weight: normal">your
		health and safety arrangements</span></span></span></font></font></span></font></h2>
	</ul>
</ul>
<p class="western" align="right" style="margin-top: 0.16cm; margin-bottom: 0.49cm">
<font face="StarJedi Special Edition"><span style="font-variant: normal"><font color="#4e4e4e"><font size="2" style="font-size: 10pt"><span style="letter-spacing: normal"><span lang="en-GB"><span style="font-style: normal"><span style="font-weight: normal">Source
1</span></span></span></span></font></font></span></font></p>
<p class="western" style="margin-top: 0.16cm; margin-bottom: 0.49cm"><br/>
<br/>

</p>
<p class="western" style="margin-top: 0.16cm; margin-bottom: 0.49cm; font-variant: normal; letter-spacing: normal; font-style: normal; page-break-before: always">
<font face="StarJedi Special Edition"><font size="4" style="font-size: 14pt"><b>4.2
Obligations and factors to consider</b></font></font></p>
<p class="western" style="margin-top: 0.16cm; margin-bottom: 0.49cm"><font face="StarJedi Special Edition"><span style="font-variant: normal"><font color="#000000"><font size="2" style="font-size: 10pt"><span style="letter-spacing: normal"><span lang="en-GB"><span style="font-style: normal"><span style="font-weight: normal">Venue
- </span></span></span></span></font></font></span><span style="font-variant: normal"><font color="#111111"><font size="2" style="font-size: 9pt"><span style="letter-spacing: normal"><span lang="en-GB"><span style="font-style: normal"><span style="font-weight: normal">As
an organiser, I must as far as reasonably practicable, ensure the
safety of visiting crowds. The venue should also by safe and without
risk to the health of those working there. </span></span></span></span></font></font></span><span style="font-variant: normal"><font color="#111111"><sup><font size="2" style="font-size: 9pt"><span style="letter-spacing: normal"><span lang="en-GB"><span style="font-style: normal"><span style="font-weight: normal">3</span></span></span></span></font></sup></font></span><span style="font-variant: normal"><font color="#111111"><span style="letter-spacing: normal">
</span></font></span><span style="font-variant: normal"><font color="#000000"><font size="2" style="font-size: 10pt"><span style="letter-spacing: normal"><span lang="en-GB"><span style="font-style: normal"><span style="font-weight: normal"><br><br>Crowd
- </span></span></span></span></font></font></span><span style="font-variant: normal"><font color="#111111"><font size="2" style="font-size: 9pt"><span style="letter-spacing: normal"><span lang="en-GB"><span style="font-style: normal"><span style="font-weight: normal">As
an organiser I</span></span></span></span></font></font></span><span style="font-variant: normal"><font color="#111111"><span style="letter-spacing: normal">
</span></font></span><span style="font-variant: normal"><font color="#111111"><font size="2" style="font-size: 9pt"><span style="letter-spacing: normal"><span lang="en-GB"><span style="font-style: normal"><span style="font-weight: normal">must
as far as reasonably practicable ensure the safety of visiting
crowds.</span></span></span></span></font></font></span><span style="font-variant: normal"><font color="#111111"><sup><font size="2" style="font-size: 9pt"><span style="letter-spacing: normal"><span lang="en-GB"><span style="font-style: normal"><span style="font-weight: normal">4
</span></span></span></span></font></sup></font></span></font>
</p>
<p class="western" style="margin-top: 0.16cm; margin-bottom: 0.49cm"><font face="StarJedi Special Edition"><span style="font-variant: normal"><font color="#000000"><font size="2" style="font-size: 10pt"><span style="letter-spacing: normal"><span style="font-style: normal"><span style="font-weight: normal">Fire
safety -Ensure all participants and attendees are made aware of the
emergency procedures of the host facility.</span></span></span></font></font></span><span style="font-variant: normal"><font color="#000000"><span style="letter-spacing: normal">
</span></font></span></font>
</p>
<p class="western" style="margin-top: 0.16cm; margin-bottom: 0.49cm"><font face="StarJedi Special Edition"><span style="font-variant: normal"><font color="#000000"><font size="2" style="font-size: 10pt"><span style="letter-spacing: normal"><span style="font-style: normal"><span style="font-weight: normal">Noise
– Standard industry practice in the music industry is to have
contractors bring their own personal protection equipment, such as
ear plugs due to hygiene and the prerequisites for the equipment
being different from other industries.</span></span></span></font></font></span></font></p>
<p class="western" style="margin-top: 0.16cm; margin-bottom: 0.49cm"><font face="StarJedi Special Edition"><span style="font-variant: normal"><font color="#000000"><font size="2" style="font-size: 10pt"><span style="letter-spacing: normal"><span lang="en-GB"><span style="font-style: normal"><span style="font-weight: normal">Plan
for accidents and emergencies – Make sure that a there is
reasonable access to a first aider and if need be facilities to
contact emergency services.<br><br>Electrical safety - </span></span></span></span></font></font></span><span style="font-variant: normal"><font color="#111111"><font size="2" style="font-size: 9pt"><span style="letter-spacing: normal"><span lang="en-GB"><span style="font-style: normal"><span style="font-weight: normal">Event
organisers, contractors and others using electrical equipment must do
all that is reasonably practicable to ensure that electrical
installations and equipment at an event are properly selected,
installed and maintained so as not to cause death or injury. </span></span></span></span></font></font></span><span style="font-variant: normal"><font color="#111111"><sup><font size="2" style="font-size: 9pt"><span style="letter-spacing: normal"><span lang="en-GB"><span style="font-style: normal"><span style="font-weight: normal">5</span></span></span></span></font></sup></font></span><span style="font-variant: normal"><font color="#000000"><span style="letter-spacing: normal">
</span></font></span></font>
</p>
<p class="western" align="right" style="margin-top: 0.16cm; margin-bottom: 0.49cm">
<font face="StarJedi Special Edition"><span style="font-variant: normal"><font color="#4e4e4e"><font size="2" style="font-size: 10pt"><span style="letter-spacing: normal"><span lang="en-GB"><span style="font-style: normal"><span style="font-weight: normal">Source
2</span></span></span></span></font></font></span></font></p>
<h2 class="western" style="margin-top: 0cm; margin-bottom: 0.49cm"><font face="StarJedi Special Edition"><span style="font-variant: normal"><font size="4" style="font-size: 14pt"><span style="font-style: normal"><b>4.3
</b></span></font></span><font size="4" style="font-size: 14pt">Remedies:</font>
<font size="2" style="font-size: 10pt"><br><br><br>Conduct a risk
assessment and insure all participants are aware of H&amp;S
obligations and emergency procedures then</font> <font size="2" style="font-size: 10pt">have
them sign a form that says they have been made aware of these.</font><br><br><br></font><br/>
<br/>

</h2>
<h2 class="western" style="margin-top: 0cm; margin-bottom: 0.49cm; page-break-before: always">
<font face="StarJedi Special Edition"><span style="font-variant: normal"><font color="#000000"><span style="text-decoration: none"><font size="5" style="font-size: 18pt"><span style="font-style: normal"><b>5.0</b></span></font></span></font></span><span style="font-variant: normal"><font color="#000000"><span style="text-decoration: none">
</span></font></span><font color="#000000"><span style="text-decoration: none"><font size="5" style="font-size: 18pt"><b>Legislative
and legal</b></font></span></font><font color="#000000"><span style="text-decoration: none">
</span></font><font color="#000000"><span style="text-decoration: none"><font size="5" style="font-size: 18pt"><b>issues</b></font></span></font></font></h2>
<p class="western" style="margin-top: 0.16cm; margin-bottom: 0.49cm"><font face="StarJedi Special Edition"><span style="font-variant: normal"><font color="#111111"><span style="text-decoration: none"><font size="2" style="font-size: 9pt"><span style="letter-spacing: normal"><span lang="en-GB"><span style="font-style: normal"><span style="font-weight: normal">The
Health and Safety at Work etc. Act 1974 , “An Act to make further
provision for securing the health, safety and welfare of persons at
work, for protecting others against risks to health or safety in
connection with the activities of persons at work, for controlling
the keeping and use and preventing the unlawful acquisition,
possession and use of dangerous substances, and for controlling
certain emissions into the atmosphere; to make further provision with
respect to the employment medical advisory service; to amend the law
relating to building regulations, and the Building (Scotland) Act
1959; and for connected purposes.” </span></span></span></span></font></span></font></span><span style="font-variant: normal"><font color="#111111"><span style="text-decoration: none"><sup><font size="2" style="font-size: 9pt"><span style="letter-spacing: normal"><span lang="en-GB"><span style="font-style: normal"><span style="font-weight: normal">6</span></span></span></span></font></sup></span></font></span></font></p>
<p class="western" style="margin-top: 0.16cm; margin-bottom: 0.49cm"><font face="StarJedi Special Edition"><span style="font-variant: normal"><font color="#111111"><span style="text-decoration: none"><font size="2" style="font-size: 9pt"><span style="letter-spacing: normal"><span style="font-style: normal"><span style="font-weight: normal">Event</span></span></span></font></span></font></span><span style="font-variant: normal"><font color="#111111"><span style="text-decoration: none"><span style="letter-spacing: normal">
</span></span></font></span><span style="font-variant: normal"><font color="#111111"><span style="text-decoration: none"><font size="2" style="font-size: 9pt"><span style="letter-spacing: normal"><span style="font-style: normal"><span style="font-weight: normal">ownership:
At the moment</span></span></span></font></span></font></span><span style="font-variant: normal"><font color="#111111"><span style="text-decoration: none"><span style="letter-spacing: normal">
</span></span></font></span><span style="font-variant: normal"><font color="#111111"><span style="text-decoration: none"><font size="2" style="font-size: 9pt"><span style="letter-spacing: normal"><span style="font-style: normal"><span style="font-weight: normal">Bandcast
Scotland</span></span></span></font></span></font></span><span style="font-variant: normal"><font color="#111111"><span style="text-decoration: none"><span style="letter-spacing: normal">
</span></span></font></span><span style="font-variant: normal"><font color="#111111"><span style="text-decoration: none"><font size="2" style="font-size: 9pt"><span style="letter-spacing: normal"><span style="font-style: normal"><span style="font-weight: normal">is
the sole property of Marc McIntosh, event manager and project
coordinator.<br></span></span></span></font></span></font></span></font><br/>
<br/>

</p>
<p class="western" style="margin-top: 0.16cm; margin-bottom: 0.49cm; font-variant: normal; letter-spacing: normal; font-style: normal; font-weight: normal; text-decoration: none">
<font color="#111111"><font face="StarJedi Special Edition"><font size="2" style="font-size: 9pt">Contract
and agreements: Contractual agreements will have to be formed
regarding participating parties: Liabilities, capacity to under take
the work and consent to work along agreements relating to each
parties intrinsic rights and intellectual property rights and the
limitations and conditions under which to which they allow it to be
exploited,</font></font></font></p>
<p class="western" style="margin-top: 0.16cm; margin-bottom: 0.49cm; font-variant: normal; letter-spacing: normal; font-style: normal; font-weight: normal; text-decoration: none">
<font color="#111111"><font face="StarJedi Special Edition"><font size="2" style="font-size: 9pt">Unions
and industry representatives, agencies and standards: Researching
trade unions and agency that the parties may be a part of and the
standards expect of those. I.e. PRS for music to collect royalties on
behalf of the owner of the music used/generated during the project.</font></font></font></p>
<p class="western" style="margin-top: 0.16cm; margin-bottom: 0.49cm"><font face="StarJedi Special Edition"><span style="font-variant: normal"><font color="#111111"><span style="text-decoration: none"><font size="2" style="font-size: 10pt"><span style="letter-spacing: normal"><span lang="en-GB"><span style="font-style: normal"><b>Intellectual</b></span></span></span></font></span></font></span><span style="font-variant: normal"><font color="#111111"><span style="text-decoration: none"><span style="letter-spacing: normal">
</span></span></font></span><span style="font-variant: normal"><font color="#111111"><span style="text-decoration: none"><font size="2" style="font-size: 10pt"><span style="letter-spacing: normal"><span lang="en-GB"><span style="font-style: normal"><b>property</b></span></span></span></font></span></font></span><span style="font-variant: normal"><font color="#111111"><span style="text-decoration: none"><font size="2" style="font-size: 9pt"><span style="letter-spacing: normal"><span lang="en-GB"><span style="font-style: normal"><span style="font-weight: normal">:
</span></span></span></span></font></span></font></span></font>
</p>
<p class="western" style="margin-top: 0.16cm; margin-bottom: 0.49cm"><font face="StarJedi Special Edition"><span style="font-variant: normal"><font color="#111111"><span style="text-decoration: none"><font size="2" style="font-size: 9pt"><span style="letter-spacing: normal"><span lang="en-GB"><span style="font-style: normal"><span style="font-weight: normal"><br>The
following acts, treaties and legislation are all to be covered when
creating applicable agreement that allow for the use of intellectual
property generate and/or used during the project:</span></span></span></span></font></span></font></span></font></p>
<ul>
	<li/>
<p class="western" style="margin-top: 0.16cm; margin-bottom: 0.49cm; font-variant: normal; letter-spacing: normal; font-style: normal; font-weight: normal; text-decoration: none">
	<font face="StarJedi Special Edition"><font size="2" style="font-size: 9pt"><span style="background: #ffffff">Copyright,
	Designs and Patents Act 1988</span></font></font></p>
	<li/>
<p class="western" style="margin-top: 0.16cm; margin-bottom: 0.49cm">
	<font face="StarJedi Special Edition"><span style="font-variant: normal"><font color="#000000"><span style="text-decoration: none"><font size="2" style="font-size: 9pt"><span style="letter-spacing: normal"><span style="font-style: normal"><span style="font-weight: normal"><span style="background: #ffffff">The</span></span></span></span></font></span></font></span><span style="font-variant: normal"><font color="#111111"><span style="text-decoration: none"><span style="letter-spacing: normal">
	</span></span></font></span><span style="font-variant: normal"><font color="#111111"><span style="text-decoration: none"><font size="2" style="font-size: 9pt"><span style="letter-spacing: normal"><span lang="en-GB"><span style="font-style: normal"><span style="font-weight: normal">Digital
	Economy Act 2012</span></span></span></span></font></span></font></span></font></p>
	<li/>
<p class="western" style="margin-top: 0.16cm; margin-bottom: 0.49cm; font-variant: normal; letter-spacing: normal; font-style: normal; font-weight: normal; text-decoration: none">
	<font color="#111111"><font face="StarJedi Special Edition"><font size="2" style="font-size: 9pt">The
	Broadcasting act 1996 and 1990</font></font></font></p>
	<li/>
<p class="western" style="margin-top: 0.16cm; margin-bottom: 0.49cm; font-variant: normal; letter-spacing: normal; font-style: normal; font-weight: normal; text-decoration: none">
	<font color="#111111"><font face="StarJedi Special Edition"><font size="2" style="font-size: 9pt">Beijing
	treaty on audio visual performances the Berne convection <br>and the</font></font></font></p>
	<li/>
<p class="western" style="margin-top: 0.16cm; margin-bottom: 0.49cm">
	<font face="StarJedi Special Edition"><span style="font-variant: normal"><font color="#111111"><span style="text-decoration: none"><font size="2" style="font-size: 9pt"><span style="letter-spacing: normal"><span lang="en-GB"><span style="font-style: normal"><span style="font-weight: normal">WIPO
	Performance and phonograms treaty.</span></span></span></span></font></span></font></span></font></p>
</ul>
<p class="western" align="right" style="margin-top: 0.16cm; margin-bottom: 0.49cm">
<font face="StarJedi Special Edition"><span style="font-variant: normal"><font color="#4e4e4e"><span style="text-decoration: none"><font size="2" style="font-size: 10pt"><span style="letter-spacing: normal"><span lang="en-GB"><span style="font-style: normal"><span style="font-weight: normal">Source
3 and 4</span></span></span></span></font></span></font></span></font></p>
<p class="western" style="margin-top: 0.16cm; margin-bottom: 0.49cm; font-variant: normal; letter-spacing: normal; font-style: normal; font-weight: normal; text-decoration: none">
<font color="#111111"><font face="StarJedi Special Edition"><font size="2" style="font-size: 9pt">Licences
and permissions: Suitable licenses and permission will be sought
where appropriate such as permission to use the hosting premiss,
facilities and equipment.</font></font></font></p>
<p class="western" style="margin-top: 0.16cm; margin-bottom: 0.49cm"><font face="StarJedi Special Edition"><span style="font-variant: normal"><font color="#111111"><span style="text-decoration: none"><font size="2" style="font-size: 9pt"><span style="letter-spacing: normal"><span lang="en-GB"><span style="font-style: normal"><span style="font-weight: normal">Liability
insurance: Liabilities will be kept to a minimum in regards to
equipment and personnel by contracting responsible parties capable of
operating in a professional manner. Appropriate liabilities will also
be assigned during the negotiation period of contract formation.</span></span></span></span></font></span></font></span></font></p>
<p class="western" style="margin-bottom: 0cm; line-height: 100%"><br/>

</p>
<p class="western" style="margin-bottom: 0cm; line-height: 100%; text-decoration: none; page-break-before: always">
<font face="StarJedi Special Edition"><font size="5" style="font-size: 18pt"><b><span style="font-variant: normal"><span style="font-style: normal">6.0
</span></span>Contingency</b></font></font></p>
<p class="western" style="margin-bottom: 0cm; line-height: 100%"><br/>

</p>
<p class="western" style="margin-bottom: 0cm; font-weight: normal; line-height: 100%; text-decoration: none">
<font face="StarJedi Special Edition"><font size="2" style="font-size: 10pt">Possible
failures<br>No band, No audio team, No Media crew, Failure of
equipment<br><br>Remedy: The test run of the will be filmed and cast
if required, along with the possible contingency of recruiting
replacement parties being pursued.</font></font></p>
<p class="western" style="margin-bottom: 0cm; line-height: 100%"><br/>

</p>
<p class="western" style="margin-bottom: 0cm; line-height: 100%; text-decoration: none">
<font face="StarJedi Special Edition"><font size="5" style="font-size: 18pt"><b><span style="font-variant: normal"><span style="font-style: normal">7.0
</span></span>Event schedule</b></font></font></p>
<p class="western" style="margin-bottom: 0cm; font-weight: normal; line-height: 100%; text-decoration: none">
<font face="StarJedi Special Edition"><font size="3" style="font-size: 12pt"><br><font size="2" style="font-size: 10pt">For
both the test run and the pilot the event will consist of the
following phases, with breaks being made available in between
where/when required.<br><br>Phase one: Preparation and arrival<br>Phase
two: Test run and warm up<br>Phase three: Execution of the
event<br>Phase Four: Review of the materials<br>Phase Five: Briefing
participating parties on what will happen to the materials I.e. be
professionally edited and delivered to them.<br>Phase six: Shut down
procedures<br>Phase Seven: Thank participating parties<br>Phase
Eight: Review.<br><br>Estimate time for the project will be mid
February preferably on a weekend subject to participant availability.</font></font></font></p>
<p class="western" style="margin-bottom: 0cm; line-height: 100%"><br/>

</p>
<p class="western" style="margin-top: 0.16cm; margin-bottom: 0.49cm; line-height: 100%; text-decoration: none">
<font face="StarJedi Special Edition"><font size="5" style="font-size: 18pt"><b><span style="font-variant: normal"><span style="font-style: normal">8.0
</span></span>Rationale and justification</b></font></font></p>
<p class="western" style="margin-top: 0.16cm; margin-bottom: 0.49cm; font-weight: normal; text-decoration: none">
<font face="StarJedi Special Edition"><font size="3" style="font-size: 12pt"><br><font size="2" style="font-size: 10pt">A
public organisation such as band cast Scotland should have already
been developed to justify public spending in the creative sector
along with enable further exploitation of a national resource that
can and often is developed through public funds in the form of
education.</font></font></font></p>
<h1 class="western" style="margin-top: 0cm; margin-bottom: 0.49cm"><font face="StarJedi Special Edition">9.0
Strategy and Implementation Summary </font>
</h1>
<ol>
	<li/>
<p class="western" style="margin-bottom: 0.49cm"><font face="StarJedi Special Edition">Attaining
	consent to enter negotiations from participating parties</font></p>
	<li/>
<p class="western" style="margin-bottom: 0.49cm"><font face="StarJedi Special Edition">Negotiate
	on dates and conditions with participating parties</font></p>
	<li/>
<p class="western" style="margin-bottom: 0.49cm"><font face="StarJedi Special Edition">Form
	contracts to secure requirements and assets of the project</font></p>
	<li/>
<p class="western" style="margin-bottom: 0.49cm"><font face="StarJedi Special Edition">Execute
	the event, collect data and review the operations</font></p>
	<li/>
<p class="western" style="margin-bottom: 0.49cm"><font face="StarJedi Special Edition">Provide
	the results to the regional representative of the department of
	culture, media and sport to secure funding</font></p>
	<li/>
<p class="western" style="margin-bottom: 0.49cm"><font face="StarJedi Special Edition">Find
	more consenting parties and run the event on a regular basis</font></p>
</ol>
<p class="western" style="margin-bottom: 0.49cm; page-break-before: always">
<font face="StarJedi Special Edition"><font size="4" style="font-size: 14pt"><b>Bibliography
and sources of information<br><br></b></font><font size="2" style="font-size: 10pt"><span style="font-weight: normal">quoted
words: 327</span></font></font></p>
<p class="western" style="margin-bottom: 0.49cm"><font face="StarJedi Special Edition"><font size="2" style="font-size: 10pt"><span style="font-weight: normal">1.
</span></font></font><span style="font-variant: normal"><font color="#000000"><span style="text-decoration: none"><font face="StarJedi Special Edition"><font size="2" style="font-size: 10pt"><span style="letter-spacing: normal"><span style="font-style: normal"><span style="font-weight: normal">David
Elstein, Broadcasting for Scotland, Opendemocracy.com, 18</span></span></span></font></font></span></font></span><span style="font-variant: normal"><font color="#000000"><span style="text-decoration: none"><sup><font face="StarJedi Special Edition"><font size="2" style="font-size: 10pt"><span style="letter-spacing: normal"><span style="font-style: normal"><span style="font-weight: normal">th</span></span></span></font></font></sup></span></font></span><span style="font-variant: normal"><font color="#000000"><span style="text-decoration: none"><font face="StarJedi Special Edition"><span style="letter-spacing: normal">
</span></font></span></font></span><span style="font-variant: normal"><font color="#000000"><span style="text-decoration: none"><font face="StarJedi Special Edition"><font size="2" style="font-size: 10pt"><span style="letter-spacing: normal"><span style="font-style: normal"><span style="font-weight: normal">September
2013, Paragraph 11, web
</span></span></span></font></font></span></font></span><a class="western" href="http://www.opendemocracy.net/ourkingdom/david-elstein/broadcasting-for-scotland"><font face="StarJedi Special Edition">http://www.opendemocracy.net/ourkingdom/david-elstein/broadcasting-for-scotland</font></a></p>
<p class="western" style="margin-bottom: 0.49cm"><font face="StarJedi Special Edition"><font size="2" style="font-size: 10pt"><span style="font-variant: normal"><font color="#000000"><span style="text-decoration: none"><span style="letter-spacing: normal"><span lang="en-GB"><i><span style="font-weight: normal">2.
Malcolm Lindsay,</span></i></span></span></span></font></span><span style="font-variant: normal"><font color="#000000"><span style="text-decoration: none"><span style="letter-spacing: normal"><i><span style="font-weight: normal">&quot;Scottish
independence: Newsnight Scotland arts debate.&quot; BBC News. BBC, 10
Feb. 2013. time:</span></i></span></span></font></span><span style="font-variant: normal"><font color="#000000"><span style="text-decoration: none"><span style="letter-spacing: normal">
</span></span></font></span><span style="font-variant: normal"><font color="#000000"><span style="text-decoration: none"><span style="letter-spacing: normal"><span lang="en-GB"><i><span style="font-weight: normal">26:50
-27:27 </span></i></span></span></span></font></span><span style="font-variant: normal"><font color="#000000"><span style="text-decoration: none"><span style="letter-spacing: normal"><i><span style="font-weight: normal">&lt;http://www.bbc.co.uk/news/uk-scotland-24352314&gt;.
</span></i></span></span></font></span></font></font>
</p>
<p class="western" style="margin-bottom: 0.49cm"><font face="StarJedi Special Edition"><font size="2" style="font-size: 10pt"><span style="font-variant: normal"><font color="#000000"><span style="text-decoration: none"><span style="letter-spacing: normal"><span lang="en-GB"><i><span style="font-weight: normal">3.
</span></i></span></span></span></font></span><span style="font-variant: normal"><font color="#000000"><span style="text-decoration: none"><span style="letter-spacing: normal"><i><span style="font-weight: normal">&quot;Venue
and site design.&quot; Event safety. Crown, n.d. Web. 27 Nov. 2013.
&lt;http://www.hse.gov.uk/event-safety/venue-site-design.htm&gt;. </span></i></span></span></font></span></font></font>
</p>
<p class="western" style="margin-bottom: 0.49cm"><font face="StarJedi Special Edition"><font size="2" style="font-size: 10pt"><span style="font-variant: normal"><font color="#000000"><span style="text-decoration: none"><span style="letter-spacing: normal"><span lang="en-GB"><i><span style="font-weight: normal">4.
</span></i></span></span></span></font></span><span style="font-variant: normal"><font color="#000000"><span style="text-decoration: none"><span style="letter-spacing: normal"><span style="font-style: normal"><span style="font-weight: normal">&quot;Crowd
management.&quot; </span></span></span></span></font></span><span style="font-variant: normal"><font color="#000000"><span style="text-decoration: none"><span style="letter-spacing: normal"><i><span style="font-weight: normal">Event
safety -</span></i></span></span></font></span><span style="font-variant: normal"><font color="#000000"><span style="text-decoration: none"><span style="letter-spacing: normal"><span style="font-style: normal"><span style="font-weight: normal">.
Crown, n.d. Web. 27 Nov. 2013.
&lt;http://www.hse.gov.uk/event-safety/crowd-management.htm&gt;. </span></span></span></span></font></span></font></font>
</p>
<p class="western" style="margin-bottom: 0.49cm"><font face="StarJedi Special Edition"><font size="2" style="font-size: 10pt"><span style="font-variant: normal"><font color="#000000"><span style="text-decoration: none"><span style="letter-spacing: normal"><span lang="en-GB"><i><span style="font-weight: normal">5
</span></i></span></span></span></font></span><span style="font-variant: normal"><font color="#000000"><span style="text-decoration: none"><span style="letter-spacing: normal"><i><span style="font-weight: normal">&quot;Electrical
safety.&quot; Event safety -. Crown, n.d. Web. 27 Nov. 2013.
&lt;http://www.hse.gov.uk/event-safety/electrical-safety.htm&gt;. </span></i></span></span></font></span></font></font>
</p>
<p class="western" style="margin-bottom: 0.49cm"><font face="StarJedi Special Edition"><font size="2" style="font-size: 10pt"><span style="font-variant: normal"><font color="#000000"><span style="text-decoration: none"><span style="letter-spacing: normal"><span lang="en-GB"><i><span style="font-weight: normal">6.
</span></i></span></span></span></font></span><span style="font-variant: normal"><font color="#111111"><span style="text-decoration: none"><span style="letter-spacing: normal"><span style="font-style: normal"><span style="font-weight: normal">&quot;Health
and Saftey at work Act 1974.&quot; </span></span></span></span></font></span><span style="font-variant: normal"><font color="#111111"><span style="text-decoration: none"><span style="letter-spacing: normal"><i><span style="font-weight: normal">Legislation.gov.uk</span></i></span></span></font></span><span style="font-variant: normal"><font color="#111111"><span style="text-decoration: none"><span style="letter-spacing: normal"><span style="font-style: normal"><span style="font-weight: normal">.
Crown, n.d. Web. 13 Nov. 1927.
&lt;http://www.legislation.gov.uk/ukpga/1974/37?view=extent&gt;. </span></span></span></span></font></span></font></font>
</p>
<p class="western" style="margin-bottom: 0.49cm"><span style="font-variant: normal"><font color="#000000"><span style="text-decoration: none"><font face="StarJedi Special Edition"><font size="2" style="font-size: 11pt"><span style="letter-spacing: normal"><span lang="en-GB"><i><b>Sources:</b></i></span></span></font></font></span></font></span><span style="font-variant: normal"><font color="#000000"><span style="text-decoration: none"><font face="StarJedi Special Edition"><font size="3" style="font-size: 12pt"><span style="letter-spacing: normal"><span lang="en-GB"><i><span style="font-weight: normal"><br></span></i></span></span></font></font></span></font></span><span style="font-variant: normal"><font color="#000000"><span style="text-decoration: none"><font face="StarJedi Special Edition"><font size="2" style="font-size: 10pt"><span style="letter-spacing: normal"><span lang="en-GB"><i><span style="font-weight: normal"><br>1.
Health and safety</span></i></span></span></font></font></span></font></span><span style="font-variant: normal"><font color="#000000"><span style="text-decoration: none"><font face="StarJedi Special Edition"><span style="letter-spacing: normal">
</span></font></span></font></span><span style="font-variant: normal"><font color="#000000"><span style="text-decoration: none"><font face="StarJedi Special Edition"><font size="2" style="font-size: 10pt"><span style="letter-spacing: normal"><span lang="en-GB"><i><span style="font-weight: normal">executive:
</span></i></span></span></font></font></span></font></span><a class="western" href="http://www.hse.gov.uk/"><font face="StarJedi Special Edition">http://www.hse.gov.uk/</font></a><span style="font-variant: normal"><font color="#4e4e4e"><span style="text-decoration: none"><font face="StarJedi Special Edition"><span style="letter-spacing: normal">
</span></font></span></font></span>
</p>
<p class="western" style="margin-bottom: 0.49cm"><span style="font-variant: normal"><font color="#000000"><span style="text-decoration: none"><font face="StarJedi Special Edition"><font size="2" style="font-size: 10pt"><span style="letter-spacing: normal"><span lang="en-GB"><i><span style="font-weight: normal">2.
Events Scotland: </span></i></span></span></font></font></span></font></span><a class="western" href="http://www.eventscotland.org/"><font face="StarJedi Special Edition">www.eventscotland.org</font></a></p>
<p class="western" style="margin-bottom: 0.49cm"><span style="font-variant: normal"><font color="#000000"><span style="text-decoration: none"><font face="StarJedi Special Edition"><font size="2" style="font-size: 10pt"><span style="letter-spacing: normal"><span lang="en-GB"><span style="font-style: normal"><span style="font-weight: normal">3.
The national archives:</span></span></span></span></font></font></span></font></span><span style="font-variant: normal"><font color="#4e4e4e"><span style="text-decoration: none"><font face="StarJedi Special Edition"><span style="letter-spacing: normal">
</span></font></span></font></span><a class="western" href="http://www.legislation.gov.uk/"><font face="StarJedi Special Edition">http://www.legislation.gov.uk/</font></a><span style="font-variant: normal"><font color="#4e4e4e"><span style="text-decoration: none"><font face="StarJedi Special Edition"><span style="letter-spacing: normal">
</span></font></span></font></span>
</p>
<p class="western" style="margin-bottom: 0.49cm"><span style="font-variant: normal"><font color="#000000"><span style="text-decoration: none"><font face="StarJedi Special Edition"><font size="2" style="font-size: 10pt"><span style="letter-spacing: normal"><span lang="en-GB"><span style="font-style: normal"><span style="font-weight: normal">4.
World intellectual property organisation:
</span></span></span></span></font></font></span></font></span><a class="western" href="http://www.wipo.int/portal/en/"><font face="StarJedi Special Edition">http://www.wipo.int/portal/en/</font></a><span style="font-variant: normal"><font color="#4e4e4e"><span style="text-decoration: none"><font face="StarJedi Special Edition"><span style="letter-spacing: normal">
</span></font></span></font></span>
</p>
<p class="western" style="margin-bottom: 0.49cm"><br/>
<br/>

</p>