<p>Quick gig 
</p>
<p>Bossiness plan<br>submitted in response to
assignments required in the study of 
</p>
<p>BA3 music business and event management:
Entrepreneurship 2013<br>Marc McIntosh<br>19/3 Dalgety
road<br>Edinburgh<br>EH7 5UH<br>marc251187hotmail.co.uk</p>
<p></a>
Table of Contents 
</p>
<p>1.0 Executive Summary</p>
<p>2.0 Introduction and Company Description</p>
<ol>
	<li/>
<p><u><a href="#2_1_Start_up_Summary" target="_blank"><span lang="en-GB">2.1
	Start-up Summary</span></a></u><span lang="en-GB"> </span>
	</p>
</ol>
<ol>
	<ol>
		<li/>
<p><u><a href="#Table_Start_up" target="_blank"><span lang="en-GB">Table:
		Start-up</span></a></u><span lang="en-GB"> </span>
		</p>
	</ol>
</ol>
<p><span lang="en-GB">3.0 Products &amp; Services </span>
</p>
<p><u><span lang="en-GB">4.0
<a href="#4_0_Market_Analysis_Summary" target="_blank">Market
Analysis Summary</a></span></u><span lang="en-GB"> </span>
</p>
<p><u><span lang="en-GB">4.1
M</span></u><u><a href="#Table_Market_Analyis" target="_blank"><span lang="en-GB">arket
Analysis</span></a></u><span lang="en-GB"> </span>
</p>
<p><u><span lang="en-GB">4.2
<a href="#5_0_Strategy_and_Implementatio" target="_blank">Strategy
and Implementation Summary</a></span></u></p>
<p>5.0 Legal and legislative issues</p>
<p><u><span lang="en-GB">6.0
<a href="#6_0_Management_Summary_" target="_blank">Management
Summary</a></span></u><span lang="en-GB"> </span>
</p>
<p><u><span lang="en-GB">7.0
<a href="#7_0_Financial_Plan" target="_blank">Financial
Plan</a></span></u><span lang="en-GB"> </span>
</p>
<p><span lang="en-GB">8.0 Future Developments<br>9.0
Cross Discipline Consultation </span>
</p>
<p><span lang="en-GB">1.0 Executive Summary <br>Business
concept: The concept is to deliver the adverts people want to see
when they want to see them, focusing on events and activities within
a short time frame and that are relevant to their location.<br>This
is done through a mobile application, and web based services. The end
user downloads  our app for free and see using an integrated map what
events are happening that day/night relative in location presented
using a map so they can see exactly where the event is.<br>Hosts
and/or promoters of an event can create an account with us and upload
details of their event for a flat fee or subscription charge.
Additional value is added to the subscription by providing
application generated consumer behaviour meta data that is
interpreted in to easy to use charts and statistics.<br>Competitive
advantage: The business is similar to other listing applications such
as bandloop, bandintown, gigabeat, on tour concert finder, songkick
concerts and setlist.fm. Of all of these listing apps only one has an
integrated map function, all of them are focused on live music while
qweewq gig will let a consumer list any type of event and/or
activity. Where we plan to excel is by having the largest end user
base, the most listed events and most relative time frame for
spontaneous attendance. For out customers the interpreted user meta
data is an additional feature that none is not offered by the other
services.<br>Current position: The business is in the early phases of
incubation requiring investment and infrastructure to acquire
information, plan, support and complete development and testing. The
estimated finical requirement attached to reaching this phase is
£250000</span></p>
<p>Name: Qwewq gig</p>
<p>2.0 Introduction and Company Summary 
</p>
<p><span lang="en-GB">Qweewq gig is a pay for
placement promotions software/service currently <br>mission
statement: To build the platform that delivers knowledge about the
surrounding events, venues and activities to customers. While
providing business the information that can be used to entertain more
people.</span></p>
<p>Business model Canvas</p>

<p>Our objectives for this year are to:</p>
<ul>
	<li/>
<p>Secure required resources</p>
	<li/>
<p>Gain links to strategic partners and
	networks</p>
	<li/>
<p>Identify required personnel and gain
	consent from applicable persons to enter negotiations about project
	involvement</p>
	<li/>
<p>Identify suitable areas and favourable
	conditions for product testing and conducting market research</p>
</ul>
<p>Recurrent core team members for product
development.</p>
<p>2.1 Start-up Summary 
</p>
<p>See Finical section for details of expenses</p>
<p><a name="Table_Start_up"></a>Table: Start-up 
</p>
<table width="335" cellpadding="0" cellspacing="0">
	<col width="225">
	<col width="109">
	<tr>
		<td width="225" style="border: none; padding: 0cm">
			<p><span lang="en-GB">Requirements </span>
			</p>
		</td>
		<td width="109" style="border: none; padding: 0cm">
			<p><br/>

			</p>
		</td>
	</tr>
	<tr>
		<td width="225" style="border: none; padding: 0cm">
			<p><br/>

			</p>
		</td>
		<td width="109" style="border: none; padding: 0cm">
			<p><br/>

			</p>
		</td>
	</tr>
	<tr>
		<td width="225" style="border: none; padding: 0cm">
			<p><span lang="en-GB">Start-up Expenses </span>
			</p>
		</td>
		<td width="109" style="border: none; padding: 0cm">
			<p><br/>

			</p>
		</td>
	</tr>
	<tr>
		<td width="225" style="border: none; padding: 0cm">
			<p>Human Resources</p>
		</td>
		<td width="109" style="border: none; padding: 0cm">
			<p>£60000 
			</p>
		</td>
	</tr>
	<tr>
		<td width="225" style="border: none; padding: 0cm">
			<p>Intellectual Resources</p>
		</td>
		<td width="109" style="border: none; padding: 0cm">
			<p>£60000 
			</p>
		</td>
	</tr>
	<tr>
		<td width="225" style="border: none; padding: 0cm">
			<p>IT Resources</p>
		</td>
		<td width="109" style="border: none; padding: 0cm">
			<p>£60000 
			</p>
		</td>
	</tr>
	<tr>
		<td width="225" style="border: none; padding: 0cm">
			<p>Travel and accommodation</p>
		</td>
		<td width="109" style="border: none; padding: 0cm">
			<p>£9000 
			</p>
		</td>
	</tr>
	<tr>
		<td width="225" style="border: none; padding: 0cm">
			<p>Providing workable budgets 
			</p>
		</td>
		<td width="109" style="border: none; padding: 0cm">
			<p>£50000 
			</p>
		</td>
	</tr>
	<tr>
		<td width="225" style="border: none; padding: 0cm">
			<p>Overhead and personal expenses</p>
		</td>
		<td width="109" style="border: none; padding: 0cm">
			<p>£20000 
			</p>
		</td>
	</tr>
	<tr>
		<td width="225" style="border: none; padding: 0cm">
			<p><span lang="en-GB">Total Start-up Expenses </span>
			</p>
		</td>
		<td width="109" style="border: none; padding: 0cm">
			<p><span lang="en-GB">£250000 </span>
			</p>
		</td>
	</tr>
	<tr>
		<td width="225" style="border: none; padding: 0cm">
			<p><br/>

			</p>
		</td>
		<td width="109" style="border: none; padding: 0cm">
			<p>&nbsp; 
			</p>
		</td>
	</tr>
	<tr>
		<td width="225" style="border: none; padding: 0cm">
			<p><span lang="en-GB">Start-up Assets </span>
			</p>
		</td>
		<td width="109" style="border: none; padding: 0cm">
			<p>&nbsp; 
			</p>
		</td>
	</tr>
	<tr>
		<td width="225" style="border: none; padding: 0cm">
			<p>Cash Assets 
			</p>
		</td>
		<td width="109" style="border: none; padding: 0cm">
			<p>$0 
			</p>
		</td>
	</tr>
	<tr>
		<td width="225" style="border: none; padding: 0cm">
			<p>Other Current Assets 
			</p>
		</td>
		<td width="109" style="border: none; padding: 0cm">
			<p>£300 
			</p>
		</td>
	</tr>
	<tr>
		<td width="225" style="border: none; padding: 0cm">
			<p>Long-term Assets 
			</p>
		</td>
		<td width="109" style="border: none; padding: 0cm">
			<p>$0 + Debt</p>
		</td>
	</tr>
	<tr>
		<td width="225" style="border: none; padding: 0cm">
			<p><span lang="en-GB">Total Assets </span>
			</p>
		</td>
		<td width="109" style="border: none; padding: 0cm">
			<p><span lang="en-GB">$0 </span>
			</p>
		</td>
	</tr>
	<tr>
		<td width="225" style="border: none; padding: 0cm">
			<p><br/>

			</p>
		</td>
		<td width="109" style="border: none; padding: 0cm">
			<p>&nbsp; 
			</p>
		</td>
	</tr>
	<tr>
		<td width="225" style="border: none; padding: 0cm">
			<p><span lang="en-GB">Total Requirements </span>
			</p>
		</td>
		<td width="109" style="border: none; padding: 0cm">
			<p>£250000 
			</p>
			<p><span lang="en-GB">+ debt </span>
			</p>
		</td>
	</tr>
</table>
<p><span lang="en-GB">3.0 Products and Services </span>
<p style="page-break-before: always">4 Market
Analysis Summary 
</p>
<p>The consumer segments that are crucial to the
operation of the service are the end user and subscribers, as
subscribers provide a predictable source of income in exchange for
attracting the end user to their events. 
</p>
<p>4.10 Market graphs charts and tables.</p>
<p>4.1</p>
<p>4.7</p>
<p>4.10, 
</p>
<p>4.12</p>
<p>4.26</p>
<p>4.12Target Market (consumer)</p>
<p>Mobile internet access</p>
<p>Figure 4.2 shows steady growth in of adults
accessing the internet through their mobile phones and figure 4.26
indicates that when using a smart phone to access the internet people
are more inclined to download a purpose built application for the
service they what to use rather than access it through their web
browser. Figure 4.46 confirms this.<br><span lang="en-GB">4.2</span></p>
<p>4.26</p>
<p>4.46</p>
<p>4.54</p>
<p>As Figure 4.54 (above) shows an increasing number
of mobile internet uses are using their phones to find store
locations. This could include retrieving addresses for and directions
to events and venues. Taking in to consideration on current practices
with event/venue advertising on popular social networks and factoring
in the limitations of these this indicates that a purpose built
application for showing what events are on with in that days hours of
trading and where the those events are located would be of
use.<br>Figure 4.13 shows that current advertising practices that are
currently in use (such as promoting a face book page) have little
impact on a majority of potential consumers. This could be down to
the viewer being preoccupied pursuing other interests that are
unrelated to the advertisement.</p>
<p>Demographics. (age and social group)<br>Figures
4.3 and 4.24 show that the potential consumer base encapsulates
growing consumer base across the board with most growth happening in
groups age 16 to 54 with 16 to44 years of age actively using mobile
phones online more often and have some disposable income. 
</p>
<p>Interpreting market data</p>
<p><span lang="en-GB">Users access the service
through home internet.<br>Home internet access (80%)=	0.8</span></p>
<p>TO search for store/premises locations (20%)=0.2</p>
<p>100(0.8*0.2) 
</p>
<p>16% est of population would access the service
from home 
</p>
<p><span lang="en-GB">On the move consumers as a
percentage of population.<br>current take up of mobile internet (50%)
=0.5</span></p>
<p>Searching for store/premises locations
(20%)=	0.2<br>100(0.5*0.2) 
</p>
<p>10%est of population would use the service out
side of the home environment<span lang="en-GB"><br>Customers within
Demographic and location.<br>Estimate for UK population living in
cities is between,79%(1950) and 92.2%(2030).<br>85% seems like a good
median.</span></p>
<p>Source 2</p>
<p>Population aged between 16 and 44 source = 40.3% 
</p>
<p>Source 3</p>
<p>Population within target demographic and location
= 100(0.85*0.403) = 100 * 0.034255 = 34.255%<br>Internet users,
	34.255 * 0.16 = 5.4808% of UK population<br>Mobile users, 34.255 *
0.1 = 3.4255% of UK population<br>UK population = 63 million people 
</p>
<p>Source 4</p>
<p><span lang="en-GB">Total Internet users= 0.054808
(6.3*10^7) = 3,452,904 users<br>Total Mobile App users 	= 0.034255
(6.3*10^7) = 2,158,065 users<br>Which will vary with marketing and
gradual social integration.<br>Mobile marketing share<br>Total Mobile
market expenditure on UK Population for 2012 = £526
million<br>Expenditure per capita = (5.28*10^8) / 6.3*10^7) =
£8.38<br>User Base * amount spent per capita on mobile marketing =
£18,086,640 per year is being spent per annum on marketing to our
target audience.</span></p>
<p style="page-break-before: always">4.13 Market
analysis of Venue expenditure</p>
<p>Information gained through field research and
interviews conducted in a city centre venue.<br>Investigation in to
Venue market</p>
<p>Marketing mix – Social media and direct (street
teams)</p>
<p>Cost is kept to a minimal through contracted
promoters, cost= £7 and £1 per person who comes in current
promoters expenditure on digital advertising is £50 per week. 
</p>
<p>No market data is available on consumer behaviour
patterns in the region, although facebook does tools to track
footfall, meta data and statistics for each venue profile.</p>
<p><span lang="en-GB">Over a week from 18th to 24th,
£450 was spent on marketing to customers which resulted in
attendance of 812 which works out to expenditures of £0.50 - £0.70
per person. </span>
</p>
<p>The most used marketing method is facebook, which
provides information on consumer page interaction, demographical
information on consumers that have liked the page along with
providing advertising opportunities to them in which the cost
increases incrementally with the target audience,<br>One limitation
of this service that was discussed is that a consumer has to engage
with the page before any information is exchanged, <br>Information
provide is used to track results and determine the most efficient way
of operation the business.</p>
<p style="page-break-before: always"><span lang="en-GB">4.14
Competitor analysis<br>Facebook currently retains a large share of
marketing expenses for highest spending target consumer (Venues)</span></p>
<p>This is done though setting up and operating a
page on their service and marketing to people who have interacted
“liked” with the page.<span lang="en-GB"><br>Features of this
service</span></p>
<ul>
	<li/>
<p>Advertising – Implementing a scalable pay
	for placement</p>
	<li/>
<p>Market data – Viewer demographic and
	interests</p>
	<li/>
<p>Meta data interpretation – information
	about data of audience interaction with the page. Such as an
	analysis of interaction in the page over various periods of time
	which allows the page owner to track the effectiveness of their
	activities.</p>
</ul>
<p>Weakness</p>
<ul>
	<li/>
<p>Consumer has to interact with the page
	before receiving information 
	</p>
	<li/>
<p>The incremental cost of advertising –
	This locks how many of the people who have displayed an interest in
	you page will see your adds, this causes an additional layer of
	complicity since a the promoter has to factor in the demographic and
	interests of the target audience, how many people they want to
	reach, when is the best time to make the post and the budget when
	promoting, which can result in interested parties not receiving
	information. <br><br/>
<br/>

	</p>
</ul>
<p><span lang="en-GB">UK Marketing Methods:
Percentage of UK Digital ad budgets attributed to Mobile internet ad
spending in 2013-2017</span></p>
<p>Formula: <br>100(Digital add/mobile
internet)<br>Year2013</p>
<p>=&gt;100(3.23*10^8/7.63*10^9)</p>
<p>= 4.23%</p>
<p>Year2017<br>=&gt;100(5.885*10^9/1.327*10^10)</p>
<p>= 44.35%</p>
<p><span lang="en-GB">4.2 Strategy and Implementation
</span><span lang="en-GB"><br>Rational overview: </span>
</p>
<p>Secure Revenue source: Subscribers</p>
<p>Most subscribers will be from venues and
promoters.</p>
<p>Cities provide the largest competing ground for
venues and promoters.</p>
<p><span lang="en-GB">Subscribers prerequisites:</span></p>
<ul>
	<li/>
<p>Must have a viable end user base.</p>
</ul>
<p>Target User base criteria:</p>
<p><span lang="en-GB">According to Carl Jung’s
theories of physiological types the most viable market for our
subscribers would be defined as extroverts. <br>Only a target
audience of 18 years of age or older is of interest to our highest
paying revenue stream.</span></p>
<p>Cities are bigger competing grounds for venues and
have higher population densities which provides us with good criteria
to select regions to target.</p>
<p>Strategy:</p>
<p><span lang="en-GB">Consent to form agreements must
be secured from organisers of city wide events (such as liver pool
sound city and the fringe) needs to secured early on or before the
development and testing phase this allows the opportunity to collect
user experience data and introduce the service to a target
community.</span><span lang="en-GB"><br>A public release campaign
focusing on generating material and increasing public relations using
Flash mob s which is a “large public gathering at which people
perform an unusual or seemingly random act and then disperse,
typically organized by means of the Internet or social media:” or
delegate the organisation of the mob to another company such as
flashmob UK.</span></p>
<p>Source 6</p>
<p><span lang="en-GB">Corporate sponsorship for below
the board marketing these events is a possibility that will be
investigated.<br></span>4.21 Sales Forecast</p>
<p><span lang="en-GB">Customers within Demographic
and location.<br>Estimate for UK population living in cities is
between,79%(1950) and 92.2%(2030).<br>85% seems like a good median.</span></p>
<p>Source 2</p>
<p>Population aged between 16 and 44 source = 40.3% 
</p>
<p>Source 3</p>
<p>Population within target demographic and location
= 100(0.85*0.403) = 100 * 0.034255 = 34.255%<br>Internet users,
	34.255 * 0.16 = 5.4808% of UK population<br>Mobile users, 34.255 *
0.1 = 3.4255% of UK population<br>UK population = 63 million people 
</p>
<p>Source 4</p>
<p><span lang="en-GB">Total Internet users = 0.054808
(6.3*10^7) = 3,452,904 users<br>Total Mobile App users 	= 0.034255
(6.3*10^7) = 2,158,065 users<br>Which will vary with marketing and
gradual social integration.<br>Mobile marketing share<br>Total Mobile
market expenditure on UK Population for 2012 = £526
million<br>Expenditure per capita = (5.28*10^8) / 6.3*10^7) =
£8.38<br>User Base * amount spent per capita on mobile marketing =
£18,086,640 per year is being spent per annum on marketing to our
target audience.</span></p>
<p>4.22 Milestones</p>
<p>Conducted primary market research.</p>
<p>Identified specialist skills and knowledge
required.<br>Established a network to knowledge and advice
though.<br>Contacted people who are able to offer insight into the
logistics of the plan.</p>
<p><span lang="en-GB">Have made arrangements to
secure access to industry experts who are willing to invest in
business’s</span></p>
<p style="page-break-before: always">5.0 Legal and
legislative issues</p>
<p>Legal areas to consider	Remedies</p>
<p>Intellectual property (IP) patents and software</p>
<p>Data collection  User Data meta data</p>
<p>Data distribution User Data meta data</p>
<p>Data protection	 User Data meta data</p>
<p>Privacy	User Data meta data</p>
<p>Liability for third parties  User Terms and
conditions 
</p>
<p>Contacts  specialists skills and services</p>
<p>Legislation to operating within the parameters of</p>
<p>Digital economy act 2010</p>
<p><span lang="en-GB">European Union’s Data
Retention Directive </span>
</p>
<p><span lang="en-GB">The Regulation of Investigatory
Powers Act 2000 </span>
</p>
<p><span lang="en-GB">Privacy and Electronic
Communications (EC Directive) Regulations 2011 </span>
</p>
<p>The Consumer Protection (Distance Selling)
Regulations 2000</p>
<p>Unfair Contract Terms Act</p>
<p><span lang="en-GB">1995 European Data Protection
Directive </span>
</p>
<p>6.0 Management Summary</p>
<ul>
	<li/>
<p>The sole proprietor of this project  Marc
	McIntosh 
	</p>
</ul>
<p>Required Professional personnel and or
organisations:</p>
<ul>
	<li/>
<p>Legal services 
	</p>
	<li/>
<p>Accounting</p>
	<li/>
<p>Advisers and</p>
	<li/>
<p>IT specialists and web developers</p>
	<li/>
<p>Media and public relations</p>
	<li/>
<p>Business incubators such as the European
	Business Centre (EBN)</p>
</ul>
<p style="page-break-before: always"><a name="7_0_Financial_Plan"></a>
<span lang="en-GB">7.0 Financial Plan </span>
</p>
<p><span lang="en-GB">Statement: <br>Realistically,
in order to achieve the company vision over will £250000 of assets
and investments will be exhausted before public release.</span></p>
<p>Break down and explanation of expenses:</p>
<p>In order to be done effectively a business can
expect to pay £30,000 to £60,000 pounds for a mobile application of
reasonable quality. It’s safe to assume a web application and then
ongoing costs of running the service could be about the same as
having them developed per annum. So for developing and operating the
application and web service can e about £120,000 to £240,000 for
one to three years operation depending on variables.</p>
<p>[source 7]</p>
<p>When factoring in marketing activities and
outsourcing work causes that figure to increase extensively. In order
to remedy these expenses there are a few options available, all of
which will have to considered:</p>
<ul>
	<li/>
<p>Funds and grants</p>
</ul>
<ul>
	<li/>
<p>Investments and loans</p>
	<li/>
<p>Corporate sponsorship for mutually
	beneficial arrangements to subtly promote their brand during our
	marketing campaigns</p>
	<li/>
<p>Leasing the business to other businesses.</p>
</ul>
<p>Gaining Access to funds, grants I can expect to
pay about £1000</p>
<p>Market data and professional services required to
secure finance from investors and banks will cost an estimate of
£8000. 
</p>
<p>Securing the logistical resources and skills
required to build and operate the mobile and web applications for one
year: £120000<br>Testing and offering the service to suitable
business and creating PR martial: £60000</p>
<p>It is at this point the opportunity to generate
income occurs if corporate sponsorship is attained.<br>Estimated
Expenditures up until this point = £189000</p>
<p style="page-break-before: always">7.2 Projected
Profit and Loss 
</p>
<p>Factors:<br>Total invested £250000: <br>Time
frame to recoup on investments: Three years<br>Number of Night clubs
in the UK: 6,992 
</p>
<p>[source 9]</p>
<p>Competitive subscription price, £50 per month	
=£600 per annum<br>over a three years period a subscriber would pay 
=£1800 
</p>
<p>Subscribers required for (ROI)
	=250000/1800	=£138.88 subscribers</p>
<p>Percentage of market:  =100(138.88/6992)  = 1.92%
(average)<br>Average market retention for a 3YearROI anticipating
expenses and moore’s law</p>
<p>=3%<br>ROI in a one year period. =250000/600	
=416.66 subscribers</p>
<p>Percentage of market  =416.66/6992	=5.96%
(average) <br>Average market retention for a 1YearROI anticipating
expenses and moore’s law =15% to 20%</p>
<p>8.0 Future Developments</p>
<p>In the process of arranging a meeting though a
legal advisor with business advisers and investors a target
field-testing event/area – date for meting may 2014<br>Further
information acquired before then includes and estimate development
cost from a mobile application developer and a web designer.</p>
<p>9.0 Cross Discipline Consultation</p>
<p><span lang="en-GB">Interview with Nick Livingston,
venue manager at Lola lo, 43b Fredrick street, Edinburgh, EH21EP
owned by Eclectic bar group. Interview in information can be verified
by calling 01312262224 or sending an e-mail to
info@lolaloedinburgh.com<br></span>References and sources in order of
occurrence</p>
<ol>
	<li/>
<p>Charts and graphs in section 4 are from
	Ofcom stakeholder reports.</p>
	<li/>
<p>“<span lang="en-GB">Percentage of global
	population living in cities, by continent.” &lt;i&gt;the
	Guardian&lt;/i&gt;. N.p., 18 Sept. 2009. Web. 2 Dec. 2013.
	&amp;lt;</span><u><a href="http://www.theguardian.com/news/datablog/2009/aug/18/percentage-population-living-cities&amp;gt"><span lang="en-GB">http://www.theguardian.com/news/datablog/2009/aug/18/percentage-population-living-cities&amp;gt</span></a></u><span lang="en-GB">;.</span></p>
	<li/>
<p><span lang="en-GB">&quot;Demography of the
	United Kingdom.&quot; Wikipedia. Wikimedia Foundation, 12 Jan. 2013.
	Web. 2 Dec. 2013.
	&lt;</span><u><a href="http://en.wikipedia.org/wiki/Demography_of_the_United_Kingdom"><span lang="en-GB">http://en.wikipedia.org/wiki/Demography_of_the_United_Kingdom</span></a></u><span lang="en-GB">&gt;.</span></p>
	<li/>
<p><span lang="en-GB">&quot;Anual mid year
	population estimates 2011/2012.&quot; ons. Crown, n.d. Web. 25 Oct.
	2013. &lt;</span><u><a href="http://www.ons.gov.uk/ons/dcp171778_320900.pdf"><span lang="en-GB">http://www.ons.gov.uk/ons/dcp171778_320900.pdf</span></a></u><span lang="en-GB">&gt;.</span></p>
	<li/>
<p><u><a href="http://www.emarketer.com/Article/Display-Mobile-Key-Drivers-of-Western-European-Digital-Ad-Spending-Growth/1010371"><span lang="en-GB">http://www.emarketer.com/Article/Display-Mobile-Key-Drivers-of-Western-European-Digital-Ad-Spending-Growth/1010371</span></a></u><span lang="en-GB">
	</span>
	</p>
	<li/>
<p><span lang="en-GB">[</span><u><a href="http://www.oxforddictionaries.com/definition/english/flash-mob#m_en_gb0972977"><span lang="en-GB">http://www.oxforddictionaries.com/definition/english/flash-mob#m_en_gb0972977</span></a></u><span lang="en-GB">
	] </span>
	</p>
	<li/>
<p><u><a href="http://www.formotus.com/14018/blog-mobility/figuring-the-costs-of-custom-mobile-business-app-development"><span lang="en-GB">http://www.formotus.com/14018/blog-mobility/figuring-the-costs-of-custom-mobile-business-app-development</span></a></u><span lang="en-GB">]
	[</span><u><a href="http://www.bbc.co.uk/news/business-13000883"><span lang="en-GB">http://www.bbc.co.uk/news/business-13000883</span></a></u></p>
	<li/>
<p>
	<u><a href="http://uk.ask.com/question/how-many-nightclubs-are-there-in-the-uk"><span lang="en-GB">http://uk.ask.com/question/how-many-nightclubs-are-there-in-the-uk</span></a></u><span lang="en-GB">]</span></p>
	<li/>
<p>
	<u><a href="http://uk.ask.com/question/how-many-nightclubs-are-there-in-the-uk"><span lang="en-GB">http://uk.ask.com/question/how-many-nightclubs-are-there-in-the-uk</span></a></u></p>
	<li/>
<p><span lang="en-GB">Moore's law –
	</span><u><a href="http://en.wikipedia.org/wiki/Moore's_law"><span lang="en-GB">http://en.wikipedia.org/wiki/Moore's_law</span></a></u><span lang="en-GB">
	</span>
	</p>
</ol>
<p><br/>
<br/>

</p>