<div class="ui menu">
  <a class="item" href="/">
    <i class="home icon"></i> Home
  </a>
  <a class="ui item" href="/Qg" > Qg-Demo</a>
  <a class="ui red item" href="/Qg-PRC" ><i class="cn flag"></i> Qg-Demo-PRC </a>
  <a class="ui item" href="/Qg-management"> Qg-managment-app</a>
</div>