<div class="ui left vertical inverted labeled icon sidebar menu">
    <a class="item" href="/">Marc McIntosh</a>
    <a class="item" href="/about">
    	<i class="info icon"></i>
    	About
    </a>
    <a class="item" href="/tweets">  
    	<i class="comments icon"></i>
    	Comments
    </a>
    <a class="item" href="/bio">
    	<i class="book icon"></i> 
    	Bio 
    </a>
    <a class="item" href="/blog">
    	<i class="file text icon"></i> 
    	Blog
    </a> 
	<a class="item" href="/contact">
		<i class="mail icon"></i> 
		ontact 
	</a>
     <a class="item" href="/cv">
     	<i class="trophy icon"></i>
     	Achievements
     </a>
</div>