<div class="ui page grid">
    <div class="column">
        <div class="ui segment">
            <h3 class="ui dividing header">Demographic map of the UK <p class="sub header">Data sourced from the <a href="http://www.ons.gov.uk/ons/index.html" target="_blank"> office of national statistics (2013)</a> And presented using <a href="http://d3js.org/" target="_blank">D3</a>.js (data-driven documents), <a href="http://square.github.io/crossfilter/" target="_blank">Crossfilter</a> and <a href="http://dc-js.github.io/dc.js/" target="_blank">DC</a>.js </p></h3>
            

            <div class="ui two column grid">
                <div class="row">
                    <div class="column">
                        <div class="ui horizontal segment">
                            <div id="chart-hist-spend">
                            <h4 class="ui dividing header">Population by country<p class="sub header">Click bar to filter</p></h4>
                            </div>
                            <div id="chart-ring-year">
                                <h4 class="ui dividing header">Male/Female <p class="sub header">Click to filter</p></h4>
                            </div>
                        </div>
                    </div>

                    <div class="column">
                        <div class="ui horizontal segment">
                            <div id="ukmap">
                            <p class="sub header">Un-interactive map (to add bubble overlay)</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="ui basic segment">
                <div id="regionPieChart">
                    <h4 class="ui dividing header">Regional Population<p class="sub header">Hover for Population</p></h4>
                </div>

                <div id="chart-row-spenders"><h4 class="ui dividing header">Population by Age<p class="sub header">click and drag for cross-filter</p></h4></div>
            </div>
        </div>
    </div>
</div>