<div class="reveal" id="menu">
			<!-- Any section element inside of this container is displayed as a slide -->
<div class="slides">
<section>
	<section>
	<h1> Global Music Markets </h1>
		<p>
		<small> Created by <a href="http://marcmcintosh.ninja" target="_blank">Marc McIntosh</a>
		</small>
	</p>
	</section>
	<section>
		<h3>Task</h3>
		<p>Prepare a music based product for an emerging global marketplace</p>
	</section>
	<section>
		<h3 class="fragment">Target Market</h3>
		<li class="fragment">The peoples republic of China</li>
	</section>
</section>


<section>
	<section id="fragments">The Product
		<ul>
			<li class="fragment"><a href="/Qg-demo-app" target="_blank">Qg-Demo</a></li>
			<p> note<small> this is not a functional demo but should assist in describing the intended product enough detail to a... that is currently under development</small></p>
		</ul>
	</section>

	<section>
		<p><small>Discuss some potential uses for the product</small></p>
	</section>
</section>



<section>

	<section>
	<h1>Topics Covered in this presentation</h1>
	</section>

	<section>
		<h2>Market overview</h2>
	<p>What have we got and where is it going (to sell/work)</p>
	</section>

	<section>
		<h2>Macro environment analysis</h2>
	<p>consisting mostly of unilateral factors that have to be considered examples of these are economics, demographics. regulations, political, social conditions; technological changes, competitors, cultural tastes, trends and social norms</p>
	</section>

	<section> 
	<h2>Micro environment analysis</h2>
	<p>Dynamic processes with in the business that changed, altered and/or refined to in response to or anticipation of circumstance</p>
	</section>

	<section>
		<h2>Financial budget</h2>
	<p>collateral, funds, revenue, growth, incomes and outgoings</p>
	</section>

	<section>
		<h2>Campaign objectives</h2>
	<p>After considering the topics above, reasonable/achievable goals and objectives can be set</p>
	</section>

	<section>
		<h2>Schedule</h2>
	<p>how long should it take to realize each of the individual components in the overall objectives of the project/campaign </p>
	</section>

	<section>
	<h2>Executive summary</h2>
	<p>Summarize and finish</p>
	</section>
</section>

<section><h1>Market Overview</h1></section>

<section>
	<section><h1>The intended Product</h1>
		<ol>
			<li>Real time marketing information application</li>
			<li>Target at enabling the end user to receive information about public events a that are occurring within their locality with in a short/time frame </li>
		</ol>
	</section>

	<section>Where is the commercial interest in this?..</section>

	<section>
		<ol>
			<li>economically viable alternative to handing pamphlets and other PR activities</li>
			<li>Marketing</li>
			<li>data analysis(non private)</li>
			<li>Securing more or better trade</li>
		</ol>
	</section>
	<section><h2>Consumer Value</h2>
		<ol>
			<li>Access to useful information  (i.e what's on and where) </li>
			<li> IRL Social/communal aspect</li>
		</ol>
	</section>
</section>

<section>
	<section><h1>Who</h1></section>

	<section><h2>The music live industry</h2>
		<p>Specifically counter cultures that don't receive main stream attention</p> 
	<blockquote cite="http://www.danwei.org/music/music_in_china_the_inside_stor.php">Label Manager Meng Jinhui explains that they normally take over management, allowing them to promote the hell out of the artist rather than the album. Resultant brand co-operations with these artists and the label itself generate the bulk of Modern Sky’s income,</blockquote>
	</section>

	<section><p> This provides access to the age group of mobile consumers who use there phones largely for information seeking purposes and applications. <small>see table to of the source in the next side </small>
	</p></section>
	<section><p>author = {Liu, X. and Liu, X. and Wei, R.},doi = {10.1177/2050157914535390},title = {Maintaining social connectedness in a fast-changing world: Examining the effects of mobile phone uses on loneliness among teens in Tibet},url = {http://mmc.sagepub.com/lookup/doi/10.1177/2050157914535390},</p>
	</section>
</section>

<section>
	<section><h1>Where</h1>
		<p>Busy cities with a large consumer culture are the ideal location for this application. (Shanghai)</p>
	</section>
</section>

<section>
	<section><h1>When</h1>
		Recent coverage of the occupy Hong Kong movement and the arrest of two the leader, and the connection with mesh networking. This could be a politically charge time to publish an application that could be used to organize protests.(<a href="http://www.bbc.co.uk/news/world-asia-china-29054196" target="_blank">BBC</a>)  
	</section>
</section>

<section>
	<section><h1>Macro Environment analysis (and Micro response where applicable)</h1></section>
	<section><h2>Legal</h2> 
		<a href="http://www.npc.gov.cn/englishnpc/Law/2007-12/05/content_1381903.htm" target="_blank">Article 18</a> <p>(Constitution) The People's Republic of China permits foreign enterprises, other foreign economic organizations and individual foreigners to invest in China and to enter into various forms of economic cooperation with Chinese enterprises and other Chinese economic organizations in accordance with the provisions of the laws of the People's Republic of China.All foreign enterprises, other foreign economic organizations as well as Chinese-foreign joint ventures within Chinese territory shall abide by the laws of the People's Republic of China. Their lawful rights and interests are protected by the laws of the People's Republic of China.</p>
	</section>
	<section> <a href="http://www.wipo.int/edocs/lexdocs/laws/en/cn/cn031en.pdf">Copyright Law of the People’s Republic of China</a><small> Article 2:-</small><p>
		Foreigners and stateless persons whose works are first published in the territory of China shall enjoy the copyright in accordance with this Law. </p>
	</section>
	<section>These two articles suggest a method in which intellectual property (programs are IP) could be protected if first published (made publicly available) in the PRC. Theoretically that could be done in under an hour using an <a href="http://aws.amazon.com/about-aws/whats-new/2013/12/18/announcing-the-aws-china-beijing-region/" target="_blank">AWS server instance</a> in Beijing </section>

	<section><h2> Technological changes</h2>
		<p>Mesh networks (like those used in firechat) could be integrated in to the product for <a href="https://github.com/octoblu/meshblu" target="_blank">no</a> extra cost.</p><p>Although open sourcing parts of the product would facilitate better consumer engagement.</p> 
	</section>

	<section><h2>Trade/Currency</h2>
	This would require either setting up a bank account in the PRC, recruiting a third party to mange accounts or integrate digital payment methods as standard.
	</section>


</section>


<section>
	<section><h1>Financial budget</h1><p>
	At the moment there is no finance, one the product is finished (and put in to use) it could be considered a capital asset (and used to secure loans). Or as an investment opportunity by venture capitalists.
	At the moment holding the project on a low usage cloud server (like this one) cost about £10 per month.</p>
	</section>
	<section><p>The advantage of this low cost is that when production ready and capital has been secured this can be passed on to bloggers within the PRC music scene, or in the event no capital is available, co-ownership would be a viable option</p></section>
	<section><p>When in production ongoing operational costs should be about <a href="https://mongolab.com/plans/" target="_blank"> $420</a> per month for data storage and depending how much processing is pushed to the client can range from $300 to $2000<a href="http://calculator.s3.amazonaws.com/index.html" target="_blank">AWS</a><a href="https://www.maxcdn.com/a/?utm_source=google&utm_medium=cpc&utm_campaign=maxcdn&utm_content=cdn+exact+match&utm_term=cdn&gclid=CjwKEAiA2JqkBRDshIOY_9eMghkSJABvNd1QrIJbHo-pXfpj0_eLMrD_UGaaqbpcdivZaHbBI7QkhRoCy3bw_wcB" target="_blank">MaxCDN</a> While delegating all development and maintenance to a professional has been quoted as one of payment of $150,000</p></section>
		<section>Considering the current lack of capital the best course of action would be to fish a prototype and seek finical backing</section>
	</section>
</section>

<section>
	<section><h1>Campaign Objectives</h1>
		<p>Assuming the product get beyond beta testing and backed then the objectives for the PRC would be as follows: <p>
	</section>
	<section><p>Publish the product on a serve with in the PRC for purposes of protecting intellectual property rights.<p>
	</section>
	<section><p>Contact bloggers and other potential interested parties from the target demography and involve them in the project by either offering the work as a translator or promoter</p>
	</section>
	<section><p>Release translated api to allow regional developers the opportunity to use the platform while utilizing the products database (the cheaper of the two server packages)</p>
	</section>
	<section> <p> This should increase consumer/developer engagement while nullifying the threat of competitors from cloning the app when they could easily enough use the api within one of there products.</p>
	</section>
	<section><p>If remotely successful this also provides and opportunity in the car manufacturing industry, by offering to integrate the product with GPS systems</p></section>
</section>


<section>
	<section><h1>Schedule</h1></section>
	<section>
		<p>Given the current rate of progress a prototype could be ready for test within a year with out an additional funding</p>
	</section>
	<section><p>Additional funding would drastically decrease this</p>
	</section>
	<section>
		<p>Once ready for testing it's a case of pitching the product to investors or further reducing operational costs in order to proceed with out backing</p>
	</section>
	<section>
		<p>Six months should be a reasonable amount of time to spend on this activity</p>
	</section>
	<section>
		<p>Whilst doing this it will also be beneficial to contact members of the target market and involve them in the protect</p>
	</section>
	<section>
		<p>this should provide a regional presence in the area, in the event that traveling over is not an option.</p>
	</section>
</section>