<div class="column"></div><div class="twelve wide column">
<h1 class="ui center aligned dividing header"> Business Plan </h1>

{{>ebusiness-executive}}
{{>ebusiness-dev-log}}
{{>ebusiness-finical-log}}
{{>ebusiness-financial-plans}}
{{>ebusiness-markets}}
{{>ebusiness-modelcanvas}}
{{>ebusiness-b2b}}
{{>ebusiness-b2c}}
{{>ebusiness-strategy-plus-appraisal}}
</div>strategy
<div class="three wide column">
{{>e-business-side-menu}}
</div>