
<div class="ui page grid">
	<div class="ui segment">

		<div class="ui dividing header"><h1>E-business-Strategy<small>overview</small></h1></div>


<table class="ui table">
<thead>
	<tr>
		<th><h4>Section</h4></th>
		<th><h4>URL(link)</h4></th>
		<th><h4>Notes</h4></th>
	</tr>
</thead>
<tbody>
	<tr>
		<td><h4>All</h4></td><td><a class="ui icon button" href="/ebusiness-strategy" ><i class="play icon"></i></a></td>
		<td></td>
	</tr>
	<tr>
		<td><h4>Executive summary</h4></td><td><a class="ui icon button" href="#" target="_blank"><i class="play icon"></i></a></td>
		<td></td>
	</tr>
	<tr>
		<td><h4>Modle canvas</h4></td><td><a class="ui icon button" href="#" target="_blank"><i class="play icon"></i></a></td>
	</tr>
	<tr>
		<td><h4>Business Plan</h4></td><td><a class="ui icon button" href="#" target="_blank"><i class="play icon"></i></a></td>
		<td></td>
	</tr>
	<tr>
		<td><h4>B2B</h4></td><td><a class="ui icon button" href="#" target="_blank"><i class="play icon"></i></a></td>
		<td></td>
	</tr>
	<tr>
		<td><h4>B2C</h4></td><td><a class="ui icon button" href="#" target="_blank"><i class="play icon"></i></a></td>
		<td></td>
	</tr>
	<tr>
		<td><h4>C2C</h4></td><td><a class="ui icon button" href="#" target="_blank"><i class="play icon"></i></a></td>
		<td></td>
	</tr>
</tbody>
<tfoot>
	
</tfoot>
</table>


</div><!-- segment -->
</div> <!-- grid -->
