<div class="ui list">
  <div class="item">
    <div class="header">UHI e-portfolios</div>
    <div class="item">
      <a class="header" href="/event-man">Event Management </a>
      <div class="description">
        Event Managment Portfolio <a>check it out</a>.
      </div>
  </div>
</div>