
	<h1 class="ui dividing header">Presnetations</h1>
	<h3 class="ui contnet">
	<table class="ui celled table">
		<thead><tr><th>Name</th><th>URL</th><th>Notes</th></tr></thead>
	  	<tbody>
	  	<tr><td>Global Music Markets</td><td><a class="ui labeled icon button" href="gmm-presentation" target="_blank"><i class="play icon"></i>Presentation</a></td><td>Inesrt a link here</td></tr>
    	<tr><td>Test</td><td><a class="ui labeled icon button" href="test-presentation" target="_blank"><i class="play icon"></i>Presentation</a></td><td>Inesrt a link here</td></tr>
    	<tr><td>Jill</td><td>Denied</td><td>None</td></tr>
  		</tbody>
  		<tfoot>
    		<tr><th>3 People</th><th>2 Approved</th><th></th></tr>
   		</tfoot>
  	</table>
	</h3>