<div class="page-header"><h1>Reviews and References <small>Tweets @ReviewMarc</small></h1></div>
<div class="panel text-center">
<a class="twitter-timeline"
	data-dnt="true" 
	href="https://twitter.com/ReviewMarc" 
	data-widget-id="534362334504824832"
	height="400"
	></a>
</div>
<script>
	twttr.widgets.load()
</script>