
<div class="ui grid">
<div class="column"></div>

  	<div class="ui right dividing rail">
    	<div class="ui segment">
      		<div style="left: 782.5px; width: 200px; height: 445px; margin-top: 50px; top: 0px;" class="ui sticky transition visible fixed top">
      			<div class="ui secondary vertical following fluid accordion menu">
      				<div class="item"><a href="#event-management" class="title"><b>Event Management Menu</b></a>
      				</div>
	      			<div class="item"> <a href="#lo2" class="title"><i tabindex="0" class="dropdown icon"></i> <b>lo2</b></a>
      					<div class="active content menu">
      						<a class="item" href="#prepare-and-implement">Prepare and implement</a>
      						<a class="item" href="#planning-tool">Planning tools</a>
      						<a class="item" href="#budget">Budget</a>
      						<a class="item" href="#market-research">Market Research</a>
      						<a class="item" href="#promotional-strategy">promotional-strategy</a>
      						<a class="item" href="#risk-assessment">Risk Assessment</a>
      						<a class="item" href="#schedule">Schedule</a>
      						<a class="item" href="#customer-relations-and-feedback">Customer relations and feedback</a>
      						<a class="item" href="#evidence">Evidence</a>
      					</div>
      				</div>
      				<div class="item"> <a href="#lo3" class=" title"><i tabindex="0" class="dropdown icon"></i> <b>lo3</b></a>
      					<div class="active content menu">
      						<a class="item" href="#lo3-management">Management</a>
      						<a class="item" href="#lo3-overview">Overview</a>
      						<a class="item" href="#lo3-budget">Budget</a>
                  <a class="item" href="#lo3-promo">Promotional strategy</a>
      						<a class="item" href="#customer-feedback">Customer feedback</a>
                  <a class="item" href="#lo3-eval">Evaluation></a>
                  <a class="item" href="#recommendations">Recommendations</a>
                  <a class="item" href="#contrib">Individual and group contributions</a>
                  <a class="item" href="#lo3-market-research">Market Research</a>
      						<a class="item" href="#success-factors">Success factors</a>
      					</div>
      				</div>
              <div class="item"><a href="#lo1" class="title"><i tabindex="0" class="dropdown icon"></i>lo1</a></div>
      			</div>
      		</div>
    	</div>
  	</div>

<div class="eleven wide column">

	<div class="ui teal purple segment">
		<h1 class="ui header">Event Management
 			<a id="event-management" class="anchor"></a>
		</h1>
	</div>

<div class="ui teal purple segment">

		<h2 class="ui header">lo2
			<a id="lo2" class="anchor"></a>
		</h2>


<div class="ui teal piled segment">
 	<div class="active content">
 		<h3 class="ui header">Prepare and implement<a id="prepare-and-implement" class="anchor"></a></h3> 
    <div class="description">Prepare and implement an event plan from the agreed event proposal</div> 
    <li> Plan and proposal provided in <a href="#lo1">lo1</a></li>
	</div>
</div>
  
<div class="ui teal piled segment">
	<div class="active content">
 		<h3 class="ui header">Planning tools<a id="planning-tools" class="anchor"></a></h3>
    <div class="description">Utilize an event-planning tool to allocate key tasks and implement timescales</div>

    <li> see lo1 (planning tool is written documentation) </li> 
    <div class="ui content"> <p> specifically..</p></div>
    <li>sections 2.3 for a resource list</li>
    <li> 4.0 for a health and safety considerations</li>
    <li> 9.0 for Strategy and Implementation Summary </li>
    <li>along with the event schedule and most of this pages lo2 sections.</li>
  </div>
</div>

  <div class="ui teal piled segment">
  	<div class="active content">
   		<h3 class="ui header">Budget<a id="budget" class="anchor"></a></h3>
      <div class="ui divider"></div>
            <table class="ui celled table">
              <thead><tr><th>Expense</th><th>Details</th><th>Quantity</th><th>Minimal expected cost</th><th>Maximum expected cost</th><th>Justification</th></tr></thead>
              <tbody>
              <tr>
              <td>Travel</td>
              <td>To reimburse individual expenditures on bus/train tickets or fuel</td>
              <td>£17 per person</td>
              <td>£17</td><td>£85</td>
              <td>travel expenses for participants</td>  </tr>
              <tr>
              <td>Food &amp; Beverages</td>
              <td>Ensuring basic provisions are available for participants</td>
              <td>enough</td>
              <td>£10</td>
              <td>£50</td>
              <td>Generally it's a nice thing to do, although in some circumstances it becomes a legal requirement</td>
              </tr>
              <tr>
              <td>P.P.E</td>
              <td>Ear plugs</td>
              <td>10 pairs</td>
              <td>£5</td>
              <td>£32 (+ p&amp;p)</td>
              <td>legal requirement that applicable sat equipment is provided </td>
              </tr>
              <tr>
              <td>Spare perishable goods</td>
              <td>replacements for any musical equipment that is prone to breakages and/or loss (strings, tuners, picks, sticks etc)</td>
              <td>enough</td>
              <td>£10</td>
              <td>£100</td>
              <td>It would unfortunate if say a bass/guitar string and/or drum stick snapped and no replacement was available</td>
              </tr>
              <tr>
              <td>Additional funds for unforeseen expenses</td>
              <td>Cash at hand encase it's needed</td>
              <td>£50</td>
              <td>£100</td>
              <td>enough</td>
              <td>better to have it and not needed it, than need it and not have it.</td>
              </tr>
              </tbody>
              <tfoot class="full-width">
              <tr>
              <th></th>
              <th colspan="4" class="ui right aligned"><small>Minimal expected cost:  </small></th><th>£92</th>
              </tr>
              <tr>
              <th></th>
              <th colspan="4" class="ui right aligned"><small> Maximum expected:  </small></th><th>£223</th>
              </tr>
              </tfoot>
              </table>
          </div>
        </div>


<div class="ui teal piled segment">
  <div class="active content">
  	<h3 class="ui header">Market Research<a id="market-research" class="anchor"></a></h3>
    <div class="description">Relevant market research</div>
    <li>&quote;,a channel run by Scots, for Scots and funded by Scots is anyway overwhelmingly overdue &quote;, David Elstein,<a href="http://www.opendemocracy.net/ourkingdom/david-elstein/broadcasting-for-scotland" target="_blank"> Broadcasting for Scotland, Opendemocracy.com, 18t September 2013, Paragraph 11, web</a></li>
    <li>&quote;,Specifically in the film industry in Scotland there’s a lot of tension, the film industry up to 60 of the top professionals have given a request to or written a letter to creative Scotland and the government saying we can’t continue the industry is in real crisis and unless their funding goes from three million to five million there won’t be an industry. At the same time creative Scotland are looking at trying to establish a new place for film, somewhere in Scotland, a studio base. So there’s a lot of tension and activity, my own thoughts are the countries that are pumping slightly more money are doing better.&quote;, Malcolm Lindsay,<a href:"http://www.bbc.co.uk/news/uk-scotland-24352314" target="_blank"> Newsnight Scotland arts debate. BBC News. BBC, 10 Feb. 2013. time: 26:50&mdash;27:27</a> </li>
    <li> There is no evident shortage of exploitable talent but a serious lack of programs and facilities to promote culture and encourage investment exists in Scotland causes most of this talent to remain latent and not used to it’s full potential. The primary cause of this would be the lack of industry exposure and/or ability to cover the regional events.</li>
  </div>
</div> 

<div class="ui teal piled segment">
  <div class="active content">
  	<h3 class="ui header">Promotional strategy <a id="promorional-strategy" class="anchor"></a></h3>
    <div class="description">Delegated to the participant acts as this provides access to an existing fan base and creates additional value for the acts by allowing them to retain creative control in how they are marketed</div>
  </div>
</div>


<div class="ui teal piled segment">
  <div class="active content">
  	<h3 class="ui header">Risk Assessment form <a id="risk-assessment" class="anchor"></a></h3>
    <div class="ui divider"></div>
    <div class="ui horizontal list">
      <div class="ui item">               
        <h3 class="ui header">(S) Severity:</h3>
        <div class="ui content">
          <li>1&mdash;Negligible</li>
          <li> 2&mdash;Marginal</li>
          <li> 3&mdash;Significant</li>
          <li> 4&mdash;Critical</li>
          <li> 5&mdash;Catastrophic</li>
        </div>          
      </div>
      <div class="ui item">
        <h3 class="ui header">(L) Likelihood:</h3>
        <div class="ui content">
          <li>1&mdash;Extremely Remote</li>
          <li> 2&mdash;Remote</li>
          <li> 3&mdash;Remote Probability </li>
          <li> 4&mdash;Reasonably Probable </li>
          <li>5&mdash;VeryLikely</li>
        </div>
      </div>
      <div class="ui item">  
        <h3 class="ui header">(RR) Risk Rating:</h3>
        <div class="ui content">
          <li> &ge; 1 &le; 6 : Very Low Risk</li>
          <li> &ge; 7 &le; 12 : Moderate Risk</li>
          <li>&ge; 13 &le; 18 : Unacceptable</li>
          <li> &ge; 19 &le; 25 : Do Not Proceed</li>
          <li>&mdash;&mdash;&mdash;&mdash;&mdash;&mdash;&mdash;&mdash;&mdash;&mdash;&mdash;&mdash;&mdash;&mdash;</li>
        </div>
      </div>
    </div>
  </div>
  <div class="ui divider"></div>
    <div class="ui horizontal list">
      <div class="ui item">
        <div class="ui header">Person at Risk Key</div>
        <div class="ui content">
          <li> (E) Employee</li>
          <li> (S) Students</li>
          <li> (P) Public </li>
          <li> (C) Contractors</li>
          <li>&mdash;&mdash;&mdash;&mdash;&mdash;&mdash;&mdash;&mdash;&mdash;&mdash;&mdash;&mdash;&mdash;&mdash;</li>
        </div>
      </div>
      <div class="ui item">
        <div class="ui header">Likelihood Legend</div>
        <div class="ui content">
          <li> 1. Extremely Remote <small> Unlikely to occur.</small></li>
          <li> 2. Remote <small> May occur in time.</small></li>
          <li> 3. Remote Probability <small> A rare combination of factors of factors to occur.</small></li> 
          <li> 4. Reasonably Probable <small> A combination of factors to occur.</small> </li>
          <li> 5. Very Likely <small> Occur immediately or shortly</small></li>
        </div>
      </div>
      <div class="ui item">
        <div class="ui header">Severity Legend</div>
        <div class="ui content">
          <li> 1. Negligible Hazard: will not result in serious injury or illness beyond minor first-aid, remote possibility of damage to property/equipment.</li>
          <li> 2. Marginal Hazard: can cause illness, injury and/or property damage but the results would not be expected to be serious.</li>
          <li> 3. Significant: May result in lost time injury and or property damage.</li>
          <li> 4. Critical hazard: can result in serious illness, severe injury and/or property/equipment damage.</li>
          <li> 5. Catastrophic: Imminent danger exists, hazard capable of causing death and/or illness on a wide scale.</li>
        </div>
      </div>
    </div>
    <div class="ui divider"></div>
<table class="ui compact celled table">
  <thead>
  <tr>
    <th></th>
    <th colspan="3">Risk Rating Calculator = S x L = RR</th>
    <th colspan="3">With existing controls in place</th>
    <th></th>
    <th colspan="3">With additional controls in place</th>
  </tr>
  </thead>
  <tr>
    <td>no</td>
    <td>Activity breakdown</td>
    <td>Hazard</td>
    <td>Persons at risk</td>
    <td>(S) 1 &ndash; 5</td>
    <td>(L) 1 &ndash; 5</td>
    <td>(RR)</td>
    <td>Control measures</td>
    <td>(S) 1 &ndash; 5</td>
    <td>(L) 1 &ndash; 5</td>
    <td>(RR)</td>
  </tr>
  <tr>
    <td>1</td>
    <td>Emergency</td>
    <td>Fire/other-evacuation, Medical</td>
    <td>E/S/P</td>
    <td>5</td>
    <td>2</td>
    <td>10</td>
    <td><small><p>Read the emergency procedures documentation (legal requirement to for a facility to have)</p><p>Inform all attendees of the emergency procedures and the location of the exits.</p><p>Reducing the chances of an emergency though proactive measures.</p></small></td>
    <td>5</td>
    <td>1</td>
    <td>5</td>
  </tr>
  <tr>
    <td>2</td>
    <td>Faulty and/or misused equipment</td>
    <td>Electrocution, damage to property and other forms of Harm</td>
    <td>E/S/P</td>
    <td>3</td>
    <td>4</td>
    <td>12</td>
    <td><small><p>Make sure all equipment has been pat tested and/or safe to use. If not have the equipment fixed and/or removed.</p><p>All of the equipment provided by the university is required to be routinely PAT tested.</p><p>Personal equipment brought by attendees will be done so at their own risk, but must not present a risk to other.</p></small></td>
    <td>3</td>
    <td>3</td>
    <td>9</td>
  </tr>
  <tr>
    <td>3</td>
    <td>Cables for equipment</td>
    <td>Slips, trips and falls</td>
    <td>E/S/P</td>
    <td>2</td>
    <td>4</td>
    <td>8</td>
    <td><small><p>Ensure that all cables are safely stored/secured and/or run via the least likely root (with in reason) to present a potential hazard</p></small></td>
    <td>3</td>
    <td>3</td>
    <td>9</td>
  </tr>
  <tr>
    <td>4</td>
    <td>Noise</td>
    <td>Hearing damage</td>
    <td>E/S/P</td>
    <td>2</td>
    <td>3</td>
    <td>6</td>
    <td><small><p>PPE such as hearing aids can be provided if necessary. Due to issues like quality and hygiene most people who wear them tend to bring their own.</p></small></td>
    <td>2</td>
    <td>3</td>
    <td>6</td>
  </tr>
  <tr>
    <td>5</td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
  </tr>
</table>
</div>
 

<div class="ui teal piled segment">
  <div class="active content">
  	<h3 class="ui header">Schedule <a id="schedule" class="anchor"></a></h3>
    <div class="ui divider"></div>
    <table class="ui celled table">
      <tr><td>09:10:00</td>
      <td> Check the facilities to be used (Dynamic risk assessment &mdash; continually done)</td></tr>
      <tr><td>09:20:00</td><td> Prepare and wait for the arrival of attendees</td></tr>
      <tr><td>10:00:00</td><td> Welcome the participants and inform them of emergency procedures, fire exits.</td></tr>
      <tr><td>10:15:00</td><td> Brief and then escort guests to the location</td></tr>
      <tr><td>11:00:00</td><td> Logistics: Bringing the equipment to the location</td></tr
      ><tr><td>12:00:00</td><td> Break</td></tr>
      <tr><td>12:15:00</td><td> Pre&ndash;set up brief to discuss the best place to set up the equipment</td></tr>
      <tr><td>12:30:00</td><td> Setting up the equipment</td></tr>
      <tr><td>13:30:00</td><td> Testing and checking the equipment is in working order</td></tr>
      <tr><td>14:30:00</td><td> Rehearsal and making adjustments where need be</td></tr>
      <tr><td>15:00:00</td><td> Optional Break</td></tr>
      <tr><td>15:15:00</td><td> Preparing to go live</td></tr>
      <tr><td>15:25:00</td><td> Show starts (with a 5 minute delay so occurrences can be resolved)</td></tr>
      <tr><td>16:25:00</td><td> Show ends every one takes a short break</td></tr>
      <tr><td>16:45:00</td><td> Packing up equipment and putting it away</td></tr>
      <tr><td>17:45:00</td><td> Thank every one for their help and escort them off site</td></tr>
      <tr><td>18:00:00</td><td> Final check</td></tr>
      <tr><td>18:10:00</td><td> Prepare to leave</td></tr>
      <tr><td>18:30:00</td><td> Leave </td></tr>
    </table>
  </div>
</div>


<div class="ui teal piled segment">
	<div class="active content">
    <h3 class="ui header">Customer relations and feedback <a id="customer-relations-and-feedback"></a></h3>
    <div class="description">feedback will be direct via twitter, at the moment this twitter embedded timeline will only display tweets that have been made public by myself. his feature can be over-ridden to show all activity on the account but, for the purposes of this portfolio that would be excessive and could expose vulnerabilities in this sites api and ultimately my AWS instance.</div>
    <div class="ui divider"></div>
    <a class="twitter-timeline" data-theme="dark"  href="https://twitter.com/bandcasting" data-widget-id="540671047478280193">Tweets by @bandcasting</a>       
  </div>
</div>
</div>

<div class="ui teal purple segment">
		<h2 class="ui header">lo3
			<a id="lo3" class="anchor"></a>
		</h2>	

<div class="ui teal piled segment">
  <div class="active content">
    <h2 class="ui header"> Overview
      <a id="lo3-overview" class="anchor"></a></h2>
    <div class="ui content"><p>The event was not a success as some of the vital resources could not be secured. The universities cameras and media students to film the event. Although I manged to secure contact details of producers and recording engineers who attend the host university and secured their interest no one could identify any film and media students. My own financial situation also had a negative effect on the event, mid way through term I could no longer afford my own travel requirements which made organizing the event impractical. The promotional strategy in the original plan was adopted by the host artist and tested to have limited success receiving under a thousand on you tube. In hindsight I working with a group instead of on my own would be more practical. </p></div>
  </div>
</div> 

<div class="ui teal piled segment">
  <div class="active content">
    <h2 class="ui header">Budgetary considerations.
      <a id="lo3-budget" class="anchor"></a></h2>
    <div class="ui content"><p>As mentioned earlier I had finical difficulties that impeded my ability to travel through and organize/host the event. Although it would have cost only a few hundred pound in total this was money that was unavailable at the time.</p><p>This resulted in no private(personal) or public finances being available at the time (including payday loans) which virtually nullified any potential progress</p></div>
  </div>
</div>

<div class="ui teal piled segment">
  <div class="active content">
    <h2 class="ui header">Promotional strategy
      <a id="lo3-promo" class="anchor"></a></h2>
    <div class="ui content"><p>The social media promotional strategy was adopted by the selected artist, but had limited success. Which considering the entire project objective was to provide a PR platform means that the event itself would not have generated enough public interest to be considered a success.</p></div>
  </div>
</div>



<div class="ui teal piled segment">
  <div class="active content">
     <h2 class="ui header"> Analysis of data obtained from customer feedback.<a id="lo3-feedback" class="anchor"></a></h2>
     <div class="ui content"><p>The data that can be analysis for this failed event would be that during the heavily politicized time frame of the event, many public bodies/organizations had been be instructed not to formally affiliate them self a political. This would explain the lack of assistance offered and lack of response when trying to communicate with members of staff about arranging the required facilities, equipment or for information. </p></div>
  </div>
</div>

<div class="ui teal piled segment">
  <div class="active content">
    <h2 class="ui header">Recommendations
      <a id="lo3-recommendations" class="anchor"></a>
    </h2>
    <div class="ui content">
      <li> Avoid political subjects: unless formally backed by an member</li>
      <li>Delegate</li>
      <li>have money</li>
      <li>work within you network/bounds</li>
      <li>don't rely one person or group of people more than absolutely necessary, as they need to be replaced</li>
      <li> If I was more flexible when selecting the of host for the event I could have selected one with in suitable bounds of established regional networks. This may have made accessing the required resources would have be a much more simple and responsive process</li>
    </div>
    <div class="ui divider"></div>
    <h3 class="ui header">Other improvements that could ave have been done include:</h3>
    <div class="ui content">
      <li>record a gig not a studio session as it generates more public interest.</li>
      <li>Work as part of a team.</li>
      <li>Use a commercial premises, this adds formalities to the organization of the event along with some other advantages.</li>
      <li>Make sure you have more than enough money to book and transport all the necessary people, facilities and equipment.</li>
      <li>Contacting a touring or local artist or business personality who intendeds to perform a gig or conference at a popular location with in the city which is likely to attract a reasonable amount of attention.</li>
      <li>Provided commercial interest by using a public venue, many venues would see the value in the additional promotional material generated through the event </li>
    </div>
  </div>
</div>



<div class="ui teal piled segment">
  <div class="active content">
    <h3 class="ui header">Evaluating: <small> the Management of the event in relation to the planning document</small><a id="lo3-eval" class="anchor"></a></h3>
    <div class="description"> A more dynamic plan would have been required in order for the event to have been fully enacted</div><p>Securing some of the required personnel was rather simple, the artist and audio recording team agreed to bing involved in the project. Getting information about audio/visual recording students and equipment was not as easy although I would repeatedly inquire to university staff but to no avail.</p>
  </div>
</div>

<div class="ui teal piled segment">
  <div class="active content">
    <h2 class="ui header"> effectiveness of individual and group contribution<a id="lo3-contrib" class="anchor"></a></h2><div class="ui content"><p> well probably the only thing i did well by working alone was not impeding the progress of other students else.</p></div>
  </div>
</div>

<div class="ui teal piled segment">
  <div class="active content">
    <h3 class="ui header">Market Research<a id="lo3-market-research" class="anchor"></a></h3>
    <div class="description">Relevant market research</div>
    <div class="ui content">
      <li><a href="http://www.saa.gov.uk/resources/278618/National_code_of_conduct_for_employees.pdf" target="_blank"> National code of conduct for council employees</a></li>
      <li><a href="http://www.google.co.uk/url?sa=t&rct=j&q=&esrc=s&source=web&cd=4&cad=rja&uact=8&ved=0CDMQFjAD&url=http%3A%2F%2Fwww.highland.gov.uk%2Fdownload%2Fdownloads%2Fid%2F7285%2F2014_referendum_guidance&ei=J6KCVOutLbKR7AaOioGgDQ&usg=AFQjCNFZC1QJAPT6g2UE6z_C2IiXbz4fkw&sig2=K91omzCnG_HwskIKnvRvyA&bvm=bv.80642063,d.ZGU" target="_blank">2014 Referendum on Independence for Scotland: Guidance for Schools</a> <p>Given the host premises is one of the university of the highlands and islands campuses, although situated in the Perth and Kinross area it would be understandable if all employees of UHI had to obied by the rules set out by the council of the entities registered address (Inverness- The highland council). This may have caused some ambiguity in correct procedures when responding to requests of a political nature, resulting in aversion.</p></li>
      <li>It is worth noting that both political groups produced and used propaganda of varying quality. (using circular reasoning) It's safe to say that the political parties that represent by these groups could have been a stakeholder to ask for support.</li>
    </div>
  </div>
</div>

<div class="ui teal piled segment">
  <div class="active content">
    <h3 class="ui header">Evidence <a id="lo3-evidence" class="anchor"></a></h3>
    <div class="description">Provide evidence of the management and implementation of the event operation</div>
    <div class="ui content">
      <p>As I was unable to enact the planned event (not through lack of trying) thus providing evidence of absence results in a situation which is either:</p>
      <li> tentatively true <small> when there is no proof </small></li>
      <li>empirically false<small> when there is </small></li>
    </div>
  </div>
</div> 

</div><!-- lo3 -->

<div class="ui purple piled segment">
  <h1 class="ui header">lo1 plan
   <a id="lo1" class="anchor"></a>
  </h1>
  <div class="ui content"> {{> lo1 }} </div>
</div>


</div>
</div> <!-- grid-->