
<div class="ui grid">
<div class="column"></div>

  	<div class="ui right dividing rail">
    	<div class="ui segment">
      		<div style="left: 782.5px; width: 200px; height: 445px; margin-top: 50px; top: 0px;" class="ui sticky transition visible fixed top">
      			<div class="ui secondary vertical following fluid accordion menu">
      				<div class="item"><a href="#event-managment" class="title"><b>Event Managment Menu</b></a>
      				</div>
	      			<div class="item"> <a href="#lo2" class="title"><i tabindex="0" class="dropdown icon"></i> <b>lo2</b></a>
      					<div class="active content menu">
      						<a class="item" href="#prepare-and-implement">Prepare and implement</a>
      						<a class="item" href="#planning-tool">Planning tools</a>
      						<a class="item" href="#budget">Budget</a>
      						<a class="item" href="#market-research">Market Research</a>
      						<a class="item" href="#promotional-strategy">promotional-strategy</a>
      						<a class="item" href="#risk-assessment">Risk Assessment</a>
      						<a class="item" href="#schedule">Schedule</a>
      						<a class="item" href="#customer-relations-and-feedback">Customer relations and feedback</a>
      						<a class="item" href="#evidence">Evidence</a>
      					</div>
      				</div>
      				<div class="item"> <a href="#lo3" class=" title"><i tabindex="0" class="dropdown icon"></i> <b>lo3</b></a>
      					<div class="active content menu">
      						<a class="item" href="#managment">Managment</a>
      						<a class="item" href="#money">Money</a>
      						<a class="item" href="#lo3budget">Budget</a>
      						<a class="item" href="#lo3market-research">Market Research</a>
      						<a class="item" href="#lo3promotional-strategy">Promotional strategy</a>
      						<a class="item" href="#customer-feedback">Cutomer feedback</a>
      						<a class="item" href="#contributions">Indvidual and group contributions</a><a class="item" href="#recomendations">Recomendations</a>
      						<a class="item" href="#success-factors">Success factors</a>
      					</div>
      				</div>
      			</div>
      		</div>
    	</div>
  	</div>

<div class="eleven wide column">
	<div class="ui segment">
		<h1 class="ui header">Event Management
 			<a id="event-managment" class="anchor"></a>
		</h1>
	</div>

<div class="ui segment">

		<h2 class="ui header">lo2
			<a id="lo2" class="anchor"></a>
		</h2>

<div>
		
		<div class="ui celled list">


<div class="ui vertical segment">

    		<div class="item">
    			<div class="active content">
            		<h3 class="ui header">Prepare and implement
            		<a id="prepare-and-implement" class="anchor"></a></h3> <div class="description">Prepare and implement an event plan from the agreed event proposal</div>
   				</div>
   			</div>

</div>
<div class="ui vertical segment">

    		<div class="item">
    			<div class="active content">
        			<h3 class="ui header">Planning tools
        			<a id="planning-tools" class="anchor"</a></h3><div class="description">Utilize an event-planning tool to allocate key tasks and implement timescales</div>
            	</div>
            </div>

</div>
<div class="ui vertical segment">

    		<div class="item">
    			<div class="active content">
            		<h3 class="ui header">Budget
            		<a id="budget" class="anchor"></a></h3>
            		<div class="description">Prepare a detailed budget</div>
            	</div>
            </div>

</div>         	
<div class="ui vertical segment">

    		<div class="item">
 			   	<div class="active content">
            		<h3 class="ui header">Market Research
            		<a id="market-research" class="anchor">
            		</h3><div class="description">Relevant market research</div>
            	</div>
   			</div>  

</div>         	
<div class="ui vertical segment">

    		<div class="item">
    			<div class="active content">
            		<h3 class="ui header">Promotional strategy <a id="promorional-strategy" class="anchor"></h3><div class="description">Devise and implement a promotional strategy</div>
            	</div>
            </div>  

</div>         	
<div class="ui vertical segment">

		    <div class="item">
    			<div class="active content">
            		<h3 class="ui header">Risk Assessment <a id="risk-assessment" class="anchor"></a></h3>
            		<div class="description">Compile and manage risk assessment, including knowledge of current legislation</div>
            	</div>
            </div> 

</div>         	
<div class="ui vertical segment">

	    	<div class="item">
    			<div class="active content">
            		<h3 class="ui header">Schedule <a id="schedule" class="anchor"></a></h3><div class="description">Manage the event schedule</div>
            	</div>
            </div> 

</div>         	
<div class="ui vertical segment">

    		<div class="item">
    			<div class="active content">
            		<h3 class="ui header">Customer relations and feedback <a id="customer-relations-and-feedback"></a></h3><div class="description">Obtain and manage customer relations and customer feedback</div>
            	</div>
            </div> 

</div>         	
<div class="ui vertical segment">

    		<div class="item">
    			<div class="active content">
            		<h3 class="ui header">Evidence <a id="evidence" class="anchor"></a></h3>
            		<div class="description">Provide evidence of the management and implementation of the event operation</div>
            	</div>
           	</div> 
</div>
   		</div>
   	</div>
</div>




      	
<div class="ui segment">

		<h2 class="ui header">lo3
			<a id="lo3" class="anchor"></a>
		</h2>

<div>
		
		<div class="ui celled list">


<div class="ui vertical segment">
    		<div class="item">
	    		<div class="active content">
    	        	<h3 class="ui header">Managment<a id="management" class="anchor"></a></h3>
        	    	<div class="description">Evaluate the management of the event process including the objectives of the event planning document.</div>
            	</div>
            </div>

</div>         	
<div class="ui vertical segment">

    		<div class="item">
    			<div class="active content">
            		<h3 class="ui header">Money<a id="money" class="anchor"></a></h3><div class="description">Budgetary considerations</div>
            	</div>
            </div>

</div>         	
<div class="ui vertical segment">

    		<div class="item">
    			<div class="active content">
       				<h3 class="ui header">Budget<a id="lo3budget" class="anchor"></a></h3><div class="description">Prepare a detailed budget</div>
       			</div>
       		</div>            	

</div>         	
<div class="ui vertical segment">

    		<div class="item">
    			<div class="active content">
       				<h3 class="ui header">Market Research<a id="lo3market-research" class="anchor"></a></h3><div class="description">Relevant market research</div>
       			</div>
       		</div>

</div>         	
<div class="ui vertical segment">

    		<div class="item">
    			<div class="active content">
       				<h3 class="ui header">Promotional strategy<a id="lo3promotional-strategy" class="anchor"></a></h3>
       				<div class="description">Devise and implement a promotional strategy</div>
       			</div>
       		</div>

</div>         	
<div class="ui vertical segment">

    		<div class="item">
    			<div class="active content">
       				<h3 class="ui header">Customer feedback<a id="customer-feedback" class="anchor"></a></h3>
       				<div class="description">Analyses data obtained from customer feedback</div>
       			</div>
       		</div> 

</div>         	
<div class="ui vertical segment">

    		<div class="item">
    			<div class="active content">
           			<h3 class="ui header">Indvidual and group contributions <a id="contributions" class="anchor"></a></h3><div class="description">Evaluates the effectiveness of individual and group contribution to the event.</div>
       			</div>
       		</div> 

</div>         	
<div class="ui vertical segment">

 			<div class="item">
 				<div class="active content">
       			<h3 class="ui header">Recomendations <a id="recomendations" class="anchor"></a></h3>
       				<div class="description">Make any necessary recommendations for improvement of the management of the event.</div>
       			</div>
       		</div> 

</div>         	
<div class="ui vertical segment">

			<div class="item">
				<div class="active content">
       				<h3 class="ui header">Success factors<a id="success-factors" class="anchor"></a></h3><div class="description">Discuss the successful aspects of the event and it's managemnt</div>
       			</div>
       		</div>

</div>         	
  		</div>
	</div>
</div> <!-- grid -->
