table
<div class="ui celled table">
	<table>
		<thead>
			<th>UK internet and web-based content market</th> <th>2009</th><th>2010</th><th>2011</th><th>2012</th><th>2013</th><th>2014</th>
		</thead>
		<tbody>
			<tr>
				<td>Internet take-up (%)</td></td><td>73</td><td>75</td><td>77</td><td>79</td><td>80</td><td>82</td>
			</tr>
			<tr>
				<td>Internet on mobile-phone take-up (%)</td><td>20</td><td>21</td><td>32</td><td>39</td><td>49</td><td>57</td>
			</tr>
			<tr>
				<td>Monthly active audience on laptop/desktop computers</td><td>38.6m</td><td>43.1m</td><td>42.2m</td><td>43.6m</td><td>44.6m</td><td>n/a</td>
			</tr>
			<tr>
				<td>Time spent web browsing per laptop/desktop internet user per month (hours)</td><td>29.4</td><td>30.9</td><td>31.5</td><td>34.7</td><td>34.2</td><td>n/a</td>
			</tr>
			<tr>
				<td>Digital advertising expenditure (œ)</td><td>3.5bn</td><td>4.1bn</td><td>4.8bn</td><td>5.4bn</td><td>6.3bn</td><td>n/a</td>
			</tr>
			<tr>
				<td>Mobile advertising revenue (œ)</td><td>38m</td><td>83m</td><td>203m</td><td>526m</td><td>1031m</td><td>n/a</td>
			</tr>
		</tbody>
		<tfoot></tfoot>
	</table>
</div>